@use 'sass:color';
@use 'sass:math';
@use 'sass:string';

@function decToHex($dec) {
    $hex: "0123456789ABCDEF";
    $first: math.div(($dec - $dec % 16),16)+1;
    $second: math.round($dec % 16)+1;
    @return string.slice($hex, $first, $first) + string.slice($hex, $second, $second)
}
@function hslToHex($h,$s,$l) {
  // @debug 'color.channel(hsl(#{$h},#{$s},#{$l}), "red", $space: rgb)';
  $r: decToHex(color.channel(hsl($h,$s,$l), "red", $space: rgb));
  $g: decToHex(color.channel(hsl($h,$s,$l), "green", $space: rgb));
  $b: decToHex(color.channel(hsl($h,$s,$l), "blue", $space: rgb));
  @return ##{$r+$g+$b};
}

// PRIMITIVE COLORS
// -------------------------
$_indigo:               #1e22a9;//hsl(238,70%,39%);//rgb(30, 34, 169)
$_rose:                 hslToHex(340,70%,70%);
$_pink:                 #ff6699;//hsl(340, 100%,70%);//rgb(255, 102, 153)
$_sunshine:             #e6de00;//hsl(58, 100%, 45%);//
$_cyan:              	  hslToHex(180,100%,50%);
$_teal:                 #00b1cc;//hsl(188,100%,40%);//
$_orange:               #FF4F00;//international orange

// SEMANTIC MAPPING
$primary:               $_indigo;
$primary-hue:           238;
$primary-inverse:       #5A5FE2;
$secondary:             $_pink;
$tertiary:              $_teal;
$quartiary:             $_sunshine;
$success:               $_teal;
$error:                 $_orange;

$neutral-hue:           238;
$neutral-hue:           58;
//slight tone
$neutral-100:           hslToHex($neutral-hue,00%,100%);
$neutral-95:            hslToHex($neutral-hue,21%,96%);
$neutral-90:            hslToHex($neutral-hue,13%,92%);
$neutral-80:            hslToHex($neutral-hue,08%,82%);
$neutral-70:            hslToHex($neutral-hue,05%,71%);
$neutral-60:            hslToHex($neutral-hue,03%,62%);
$neutral-50:            hslToHex($neutral-hue,02%,49%);
$neutral-40:            hslToHex($neutral-hue,02%,42%);
$neutral-30:            hslToHex($neutral-hue,03%,30%);
$neutral-20:            hslToHex($neutral-hue,05%,20%);
$neutral-10:            hslToHex($neutral-hue,08%,12%);
$neutral-05:            hslToHex($neutral-hue,13%,06%);
$neutral-0:             hslToHex($neutral-hue,21%,02%);

//cold gray
// $neutral-100:           hslToHex($neutral-hue,00%,100%);
// $neutral-95:            hslToHex($neutral-hue,00%,96%);
// $neutral-90:            hslToHex($neutral-hue,00%,92%);
// $neutral-80:            hslToHex($neutral-hue,00%,82%);
// $neutral-70:            hslToHex($neutral-hue,00%,71%);
// $neutral-60:            hslToHex($neutral-hue,00%,62%);
// $neutral-50:            hslToHex($neutral-hue,00%,49%);
// $neutral-40:            hslToHex($neutral-hue,00%,42%);
// $neutral-30:            hslToHex($neutral-hue,00%,30%);
// $neutral-20:            hslToHex($neutral-hue,00%,20%);
// $neutral-10:            hslToHex($neutral-hue,00%,12%);
// $neutral-05:            hslToHex($neutral-hue,00%,06%);
// $neutral-0:             hslToHex($neutral-hue,00%,02%);
