@use 'sass:color';
@use 'sass:math';
@use 'variables';
@use 'colors';

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin flexColumns ($cols:2) {
  flex: 1 0 math.div(100%, $cols);
}

@mixin inverse($c1:var(--accent-background),$c2:false,$c3:false,$c4:false) {
  & {
    background-color: $c1;
    color: var(--accent-foreground);
    &>h1,&>h2,&>h3,&>h4,&>h5,&>a,&>strong,&>b {
      color: var(--hero-bold-color);
      &:hover {
        color: var(--accent-foreground);
      }
    }   
  }
  @if $c2 {
    & {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image:
      radial-gradient(ellipse 100% 100% at 0% 100%, $c4 0px, transparent 100%),
      radial-gradient(ellipse 100% 200% at 0% 10%, $c3 0px, transparent 100%),
      conic-gradient(from 0.75turn at 81% 138%, transparent 0%, $c2 20%, transparent 40%, transparent 99%),
      ;    
    }
  }
  &>* {
    z-index: 1;
  }

}


@function encodecolor($string) {
  @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
  @return $string;
}
