@use 'sass:color';
@use 'sass:math';
@use 'variables';
@use 'colors';

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// @mixin neon($neonColor:$primary) {
//   text-shadow:
//     0 0 7px #fff,
//     0 0 10px $neonColor,
//     0 0 21px #fff,
//     0 0 42px $neonColor,
//     0 0 82px $neonColor,
//     0 0 92px $neonColor,
//     0 0 102px $neonColor,
//     0 0 151px $neonColor;
// }

@mixin transpose_table {
    &,tbody {
        display: flex;
        flex-direction: row;
    }
    thead > tr,tbody > tr {
        display: flex;
        flex-direction: column;
        flex-grow: 10;
        height: 100%;
    }
    th {
        border-width: 0 1px 0 0;
    }
    th,td {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 1em .5em;
    }
}


@mixin flexColumns ($cols:2) {
  flex: 1 0 math.div(100%, $cols);
}

@mixin fullWidth($_limit:100vw) {
  & {
    width: $_limit;
    --delta: calc(#{$_limit} - #{variables.$grid-width});
    margin-left: calc( max(var(--delta),var(--gutter-xl)) * -0.5);
    padding: 0 var(--gutter);
  }

  @media (max-width: (variables.$grid-width)) {
      margin-left: calc(var(--gutter) * -1);
  }
  // @media (min-width: variables.$breakpoint) {
  //   --delta: calc(#{$_limit} - #{variables.$grid-width});
  //   margin-left: calc( max(var(--delta),var(--delta)*-1) * -0.5);
  // }
}
@mixin fullHeight($limit:calc(100vh - $navbar-height)) {
  height: $limit;
  max-height: $limit;
}

@mixin inverse {
  & {
    background-color: var(--hero-background);
    color: var(--hero-text-color);
    h1,h2,h3,h4,a {
      color: var(--hero-bold-color);
      &:hover {
        color: var(--hero-text-color);
      }
    }   
  }
}

@mixin hero {
  & {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:
    radial-gradient(ellipse 81% 119% at 10% -19%, color.adjust(colors.$secondary,$alpha:-0.8) 0%, transparent 100%),
    radial-gradient(ellipse 100% 100% at 100% 81%, color.adjust(colors.$tertiary,$alpha:-0.8) 0px, transparent 100%),
    conic-gradient(from 0.025turn at 0% 119%, transparent 0%, color.adjust(colors.$primary,$alpha:-0.2) 12.5%, transparent 25%, transparent 99%),
    conic-gradient(from 0.66turn at 119% 8%, transparent 0%, color.adjust(colors.$primary,$alpha:-0.2) 5%, transparent 10%, transparent 99%),
    ;    
  }
  &>* {
    z-index: 1;
  }

  @include inverse();

}


@function encodecolor($string) {
  @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
  @return $string;
}
