@use 'sass:color';
@use 'sass:math';
@use 'colors';

// Typography
// -------------------------
$system-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
$sans-font-family: "Pelikan",$system-font-family;
$serif-font-family: "Palatino", "Georgia", "Roboto Serif", Times, serif;
$mono-font-family: monospace,"Courier","Courier New";
$base-font-family: $sans-font-family;
$base-font-weight: 300;
$bold-font-weight: 500;
$serif-font-weight: 400;
$base-font-size: 1.5em;
//math.div(24, 16);
//16px is the browser default so the numerator is your desired p size
$base-line-height: 1.38em;
$small-font-size: .81em;
$large-font-size: 1.19em;
$head-font-family: $base-font-family;
$head-font-weight: $bold-font-weight;
$head-font-kerning: -0.025em;
$heading-line-height: 1.2;
$display-font-family: $base-font-family;
$display-font-weight: $base-font-weight;
$display-font-kerning: -0.025em;
$display-line-height: 1.0;
$navbar-font-family: $base-font-family;
$navbar-font-weight: $base-font-weight;

// GRID
// --------------------------------------------------
$grid-width: 36rem;
$gutter: 1.38rem;
$gutter-xl: $base-line-height * 2;
$grid-columns: 12;
// $grid-column: math.div(($grid-width - (($grid-columns - 1) * $gutter)), $grid-columns);
$grid-margin: calc((100vw - $grid-width) * .5);
$breakpoint: 767px;
$breakpoint-widescreen: 1599px;
// $breakpoint-desktop: 960px;
// $breakpoint-portrait: 768px;
// $breakpoint-phone: 480px;

// ANIMATION
// --------------------------------------------------
$easeBounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeGetSet: cubic-bezier(0.955, -1.00, 0.850, 0.490);
$easeInQuart: cubic-bezier(0.500, 0.000, 0.750, 0.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
$easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
$easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$easeBMC: cubic-bezier(0.125, 0.25, 0.175, 1.000);
$speed: 400ms;
$easing: $easeBMC;

// ATOMS
// $input-height: 1.25rem;
// $border-radius: $gutter * 0.25;
// $border-radius-xl: $gutter;
$shadow-color: hsla(colors.$neutral-hue, 100%, 12%, 0.08);
$shadow-depth: $gutter;
$shadow-offset: ($shadow-depth * .33);
$shadow: 0 2px 8px $shadow-color, 0 $shadow-offset $shadow-depth $shadow-color;
$shadow-xl: 0 2px 8px $shadow-color, 0 $shadow-offset $shadow-depth $shadow-offset $shadow-color;
$shadow-inset: inset 0 2px 8px hsla(colors.$neutral-hue, 100%, 12%, 0.05), inset 0 $shadow-offset $shadow-depth hsla(colors.$neutral-hue, 100%, 12%, 0.05);

// Navbar
// -------------------------
// $navbar-background: var(--body-background);
// $navbar-border: var(--border-color);
// $navbar-text: var(--body-emphasized);
// $navbar-primary: $primary;
// $navbar-link-color: var(--link-color);
// $navbar-link-hover-color: var(--link-color-hover);
// $navbar-link-hover-background: var(--muted-background);
// $navbar-link-active-color: var(--body-background);
// $navbar-link-active-background: var(--body-emphasized);
