@use "../library" as lib;

@use "../base/molecules";
@use "../components/sticky-nav";

html {
    scroll-snap-type: y proximity;
}

body.about {
  // overflow-x: hidden;

  #bio {
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    #killabmc {
      position: absolute;
      z-index: 100;
      width: 25vw !important;
    }

    @media (min-width:lib.$breakpoint) {
      $pic-w: 62vh;
      $pic-h: 62vh;//calc(100vh - var(--navbar-height));
      padding-left: var(--gutter);
      padding-right: var(--gutter);
      padding-left: calc($pic-w + var(--gutter-xl));

      transform: skew(-10deg,0);
      &>*{
        transform: skew(10deg,0);
      }

      #parallelogram {
        shape-outside: polygon(90% 0, 100% 0, 10% 100%, 0 100%);
        float: left;
        height: 4rem;
        width: 0.5rem;
      }

      #portrait {
        box-sizing: border-box;
        position: absolute;
        left: var(--gutter);
        top: 50%;
        margin-top: calc($pic-h * -0.5);
        width: $pic-w;
        height: $pic-h;
        // border-radius: $pic-h;
        overflow: hidden;

        img, image {
            // filter: brightness(1.1) contrast(110%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            clip-path: url(#portrait_mask);
            // border-radius: 1rem;
        }

      }

    }
    @media (max-width:lib.$breakpoint) {
      padding-left: var(--gutter);
      padding-right: var(--gutter);
    }

  }

  #intro {
    margin-bottom: var(--gutter-xl);
  }

  main, #main {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  section {
    img {
      border-radius: var(--border-radius);
    }
    // padding-bottom: var(--gutter-xl);
  }

  #leadership {
    @include lib.clearfix();
  }

  #principles {
    .grid {
      height: 100vh;
      scroll-snap-align: center;
    }
  }

  #process {
  }

  .grid {
    h5 {
      margin-top: 0;
    }

    [class*="col-"] {
      // align-items: center;
      // justify-content: center;
      align-self: center;
    }

  }

  img[alt="Disney"] {
    height: 1.62em;
    width: auto;
    display: inline;
    margin-bottom: -.4em;
    margin-right: .25em;
  }


  hr {
    margin: lib.$gutter-xl auto;
  }

}

ul.timeline {
  width: auto;

  @media (min-width:lib.$breakpoint) {
    margin: lib.$gutter-xl lib.$gutter;
  }

  li {
    margin: 0;
    position: relative;
    padding: 0 0 lib.$gutter-xl lib.$gutter;
    border-left: 2px solid var(--muted-foreground);
    list-style: none;

    &:last-of-type {
      padding-bottom: 0;
    }

    &:before {
      display: inline-block;
      content: "";
      $bullet-size: .62rem;
      width: $bullet-size;
      height: $bullet-size;
      border-radius: var(--border-radius);
      margin: 0 lib.$gutter 0 calc((lib.$gutter * -1) - ($bullet-size * .5) - 1px);
      background: var(--muted-foreground);
    }

  }

}