@use "../library" as lib;

body.about {

    main,#main {
        #bio {
            box-sizing: border-box;
            padding: lib.$gutter-xl lib.$gutter;
            min-height: 38vw;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p.portrait {
                border-radius: lib.$border-radius-xl;
                overflow: hidden;
                    img {
                        display: block;
                    }
            }

            @media (min-width: lib.$breakpoint) {
                h1,p.large-type {
                    width: 60vw;
                    margin: 0;
                }
                p.portrait {
                    position: absolute;
                    right: lib.$gutter;
                    top: 50%;
                    width: calc(36vw - lib.$gutter);
                    margin: -18vw 0 0 0;
                }                
            }
        }
        #leadership, #principles, #process {
            border-top: solid 1px var(--border-color);
            padding-top: lib.$gutter-xl;
            margin-top: lib.$gutter-xl;
        }
    }

    h1 + p {
        margin: lib.$gutter 0 lib.$gutter-xl;
    }

    .well {
        background: var(--well-background);
        color: var(--well-text-color);
        padding: lib.$gutter;
        box-sizing: border-box;

        &.fullwidth {
            @media (min-width: lib.$breakpoint) {
                padding: lib.$gutter lib.$grid-margin;
            }
        }
    }

    img[alt="Disney"] {
        height: 1.62em;
        width:auto;
        display:inline;
        margin-bottom: -.4em;
        margin-right: .25em;
    }
    #travel-map {
        width: 100%;
        height: auto;
        // filter: hue-rotate(60deg);
    }
    #strava-rides,#strava-profile {
        height: 454px;
        width: 100%;
    }

    hr {
        margin: lib.$gutter-xl auto;
    }
}




ul.timeline {
    width: auto;
    @media (min-width: lib.$breakpoint) {
        margin: lib.$gutter-xl lib.$gutter;
    }

    li {
        margin: 0;
        position: relative;
        padding: 0 0 lib.$gutter-xl lib.$gutter;
        border-left: 2px solid var(--text-secondary);
        list-style: none;
        &:last-of-type {
            padding-bottom: 0;
        }
        &:before {
            display: inline-block;
            content: "";
            $bullet-size: .62rem;
            width: $bullet-size;
            height: $bullet-size;
            border-radius: lib.$border-radius;
            margin: 0 lib.$gutter 0 calc((lib.$gutter * -1) - ($bullet-size * .5) - 1px);
            background: var(--text-secondary);
        }

    }
}

