@use "../library" as lib;

@use "../base/molecules";

body.colophon {
	.chip {
		width: 19%;
		height: 4.5em;
		padding: .25em;
	    box-sizing: border-box;
		display: inline-block;

		&.black {
			background: var(--black);
			color: var(--gray-light);
		}
		&.gray-dark {
			background: var(--gray-dark);
			color: var(--gray-light);
		}
		&.gray-mid {
			background: var(--gray-mid);
			color: var(--gray-light);
		}
		&.gray-light {
			background: var(--gray-light);
		}
		&.white {
			background: var(--white);
			box-shadow: inset 0 0 0 1px var(--gray-light);
		}
		&.primary {
			background: var(--primary);
			color: var(--on-primary);
		}
		&.tertiary {
			background: var(--tertiary);
			color: var(--on-primary);
		}
		&.secondary {
			background: var(--secondary);
			color: var(--on-primary);
		}
		&.success {
			background: var(--success);
			color: var(--on-primary);
		}
		&.error {
			background: var(--error);
			color: var(--on-primary);
		}
		&.primary80 {
			background: lib.adjust(lib.$primary,$alpha:-0.2);
		}
		&.tertiary80 {
			background: lib.adjust(lib.$tertiary,$alpha:-0.2);
		}
		&.secondary80 {
			background: lib.adjust(lib.$secondary,$alpha:-0.2);
		}
		&.primary50 {
			background: lib.adjust(lib.$primary,$alpha:-0.5);
		}
		&.tertiary50 {
			background: lib.adjust(lib.$tertiary,$alpha:-0.5);
		}
		&.secondary50 {
			background: lib.adjust(lib.$secondary,$alpha:-0.5);
		}
		&.primary20 {
			background: lib.adjust(lib.$primary,$alpha:-0.8);
		}
		&.tertiary20 {
			background: lib.adjust(lib.$tertiary,$alpha:-0.8);
		}
		&.secondary20 {
			background: lib.adjust(lib.$secondary,$alpha:-0.8);
		}
	}

	.critters {
		display: flex;
		flex-direction: row;
		@media (max-width: lib.$breakpoint) {
			flex-wrap: wrap;
			svg {
				flex-basis: 50%;
			}
		}
	}
}