@use '../library' as lib;

@use "../base/molecules";

// @use "../components/masthead";

@use '../components/project-list';

@use '../components/post-list';

body.home {
  main {
    // padding-top: 0;
  }

   #bio {
      box-sizing: border-box;
      position: relative;
      padding: 6rem 0;
      // height: 81vh;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;

      // padding: lib.$gutter-xl lib.$gutter;

      p.portrait {
        border-radius: var(--border-radius-xl);
        overflow: hidden;

        img {
          display: block;
        }

      }

      p.large-type {
        margin-top: 0;
      }

      #killabmc {
        position: absolute;
        z-index: 100;
        width: 25vw !important;
      }

      @media (min-width:lib.$breakpoint) {
        $pic-size: 33%;

        h1,h2,p {
          width: calc((100% - $pic-size) - var(--gutter-xl) - var(--gutter-xl));
        }
        p.large-type:last-of-type {
          margin: 0;
        }
        h1,h2 {
          margin: 0 0 var(--gutter);
        }

        p.portrait {
          position: absolute;
          right: lib.$gutter;
          top: 50%;
          width: calc($pic-size);
          margin: ($pic-size * -.5) 0 0 0;
        }

      }

    }

  // #gradient-canvas, #masthead canvas {
  //   display: none;
  //   position: absolute;
  //   z-index: 0;
  //   $scaler: 1;
  //   width: 100% * $scaler;
  //   height: 100% * $scaler;
  //   left: 50% * ($scaler - 1) * -1;
  //   top: 50% * ($scaler - 1) * -1;

  //   //full color
  //   // --gradient-color-1: var(--primary);
  //   // --gradient-color-2: var(--secondary);
  //   // --gradient-color-3: var(--tertiary);
  //   // --gradient-color-4: var(--primary);

  //   // grayscale
  //   --gradient-color-1: #{lib.$neutral-10};
  //   --gradient-color-2: #{lib.$neutral-30};
  //   --gradient-color-3: #{lib.$neutral-50};
  //   --gradient-color-4: #{lib.$neutral-10};

  // }

  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    h2 {
      grid-column: span 2;
    }

    @media (min-width:lib.$breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      h2 {
        grid-column: span 3;
      }
    }

    .project {
      flex-direction: column-reverse;
      justify-content: flex-end;

      header {
        h3 {
          text-align: center;
        }

        p,ul {
          display: none;
        }

      }

      figure, .figure {
        img {
          aspect-ratio: 1;
        }
      }

    }

  }
}
