@use '../library' as lib;

@use "../base/molecules";

@use "../components/masthead";

@use '../components/project-list';

@use '../components/post-list';


body.home {

  #masthead {
    background: var(--body-background);
    h1,h2 {
      color: var(--body-foreground);
    }
    @media (min-width: lib.$breakpoint) {
      height: calc(38vw - var(--navbar-height));
    }
  }

/*
  #gradient-canvas, #masthead canvas {
    // display: none;
    position: absolute;
    z-index: -1;
    $scaler: 1;
    width: 100% * $scaler;
    height: 100% * $scaler;
    left: 50% * ($scaler - 1) * -1;
    top: 50% * ($scaler - 1) * -1;
    opacity: .15;

    //full color
    --gradient-color-1: var(--primary);
    --gradient-color-2: var(--secondary);
    --gradient-color-3: var(--tertiary);
    --gradient-color-4: var(--primary);

    // grayscale
    // --gradient-color-1: #{lib.$neutral-10};
    // --gradient-color-2: #{lib.$neutral-30};
    // --gradient-color-3: #{lib.$neutral-50};
    // --gradient-color-4: #{lib.$neutral-10};

  }
*/

  #project-list {
    // background: var(--body-background);
    // position: relative;
    // z-index: 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h2 {
      grid-column: span 2;
    }

    @media (min-width:lib.$breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      h2 {
        grid-column: span 3;
      }
    }

    .project {
      flex-direction: column-reverse;
      justify-content: flex-end;

      header {
        h3 {
          text-align: center;
        }

        p,ul {
          display: none;
        }

      }

      figure, .figure {
        img {
          aspect-ratio: 1;
        }
      }

    }

  }

  #post-list {
    // background: var(--body-background);
    // position: relative;
    // z-index: 10;
  }
}
