@use '../library' as lib;

body.photos {
    --thumb-size: 6vh;
    #header {
         scroll-snap-align: start;
    }
    footer {
        scroll-snap-align: end;
    }
    #main {
        padding: 0;
    }
    #masthead {
        height: calc(100vh - var(--navbar-height) - var(--thumb-size));
        align-content: center;
    }
    section#gallery {
        position: relative;
        padding: 0;

        &>p {
            scroll-snap-align: center;
            display: block;
            height: 100vh;
            box-sizing: border-box;
            padding: var(--thumb-size) 0 calc(var(--thumb-size) * 2) 0;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    nav#thumbnails {
        position: fixed;
        z-index: 5;
        background: var(--muted-background);
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        bottom: 0;
        left: 0;
        height: var(--thumb-size);
        text-align: center;
        white-space: nowrap;

        display: flex;
        flex-direction: row;
        justify-content: center;

        p {
            margin: 0;
        }

        a,.thumbnail {
            display: block;
            padding: .25vh 0.125vh;
            box-sizing: border-box;
            height: var(--thumb-size);
            opacity: 68;
            transition: all lib.$speed lib.$easing;
            img {
                height: 100%;
                width: auto;
                box-sizing: border-box;
                border: solid 2px transparent;
                object-fit: contain;
            }

            &.active,&:hover,&:focus {
                opacity: 100;
                transform: scale(1.2);
            }
            &.active {
                img {
                    border-color: var(--outline);
                }
            }

        }
    }

}



//tablets & phones
@media (max-width: lib.$breakpoint) {
    #gallery {
        .detail {
            height: 100vw;
            &>img {
            }
        }
    }
}