@use "../library" as lib;

@use "../components/project-list";


body.portfolio {
  h5 {
    color: var(--muted-foreground);
  }
  main header li {
    color: var(--muted-foreground);
  }
}

.sticky-nav {
    display: none;
}
