@use '../library' as lib;

@use "../components/masthead";

@use "../components/sticky-nav";

body.blog.post {
  transition: all (lib.$speed * 4) lib.$easing;
  background: var(--body-background);

  #masthead {
    p.summary {
      display: none;
    }

    @media (min-width:lib.$breakpoint) {
      flex-direction: column-reverse;
      justify-content: space-between;

      h1, h2 {
        // max-width: lib.$grid-width;
      }

    }

  }

  main {
    & > .date {
      color: var(--text-secondary);
    }

    figure {
      margin: 0 0 var(--gutter-xl) 0;

      img {
        aspect-ratio: 2.16;
        object-fit: cover;
      }

    }

  }

  .related-posts {
    padding: lib.$gutter-xl 0;
    margin: lib.$gutter-xl 0;
  }

  // &.scrolled {
  //   background: var(--body-background);
  // }

}