@use '../library' as lib;

@use "../base/molecules";

@use "../components/masthead";

@use "../components/sticky-nav";

body.blog.post {
  transition: background (lib.$speed * 4) lib.$easing;
  background: var(--well-background);

  #masthead {

    margin-bottom: var(--gutter-xl);

    p.summary {
      display: none;
    }

    @media (min-width:lib.$breakpoint) {
      flex-direction: column-reverse;
      justify-content: space-between;

      h1, h2 {
        // max-width: lib.$grid-width;
      }

    }

  }

  main {
    & > .date {
      color: var(--text-secondary);
    }

    figure {
      margin: 0 0 var(--gutter-xl) 0;

      img {
        aspect-ratio: 2.16;
        object-fit: cover;
      }

    }

    .pullright,.pull-right {
        clear: both;
        @media (min-width: lib.$breakpoint) {
            width: 38%;
            float: right;
            margin: 0 0 0 var(--gutter);
        }
    }

  }

  .related-posts {
    padding: lib.$gutter-xl 0;
    margin: lib.$gutter-xl 0;
  }

  &.scrolled {
    background: var(--body-background);
  }

}