@use '../library' as lib;

@use "../base/molecules";
@use "../components/masthead";
@use "../components/gallery-inline";
@use "../components/sticky-nav";

body.project {

    #main {
        display: flex;
        flex-direction: column;
        padding-top:0;

        #masthead {
            .description,.summary {
                max-width: lib.$grid-width;
            }
            .metadata {
                display: none;
            }
            @media (min-width:lib.$breakpoint) {
              // flex-direction: column-reverse;
              // justify-content: space-between;
            }
        }
        p {
            &>img,&>svg,&>video {
                &.canzoom {
                    transition: all lib.$speed lib.$easing;
                    &:hover {
                        cursor: zoom-in,
                    }
                }
                &.zoom {
                    max-height: 100vh;
                    // @include lib.full-width(0vw);
                    &:hover {
                        cursor: zoom-out;
                    }
                }
            }
            img.full-width,svg.full-width,video.full-width {
                max-height: 95vh;
                object-fit: cover;
            }
        }
        .pullleft,.pull-left {
            @media (min-width: lib.$breakpoint) {
                width: 38%;
                margin-right: var(--gutter);
                float: left;
            }
        }
        .pullright,.pull-right {
            @media (min-width: lib.$breakpoint) {
                width: 38%;
                float: right;
                margin: 0 0 0 var(--gutter);
            }
        }
        img,svg,figure {
            &[data-width="50"] {
                width: 50%;
            }
            &[data-width="62"] {
                width: 62%;
            }
        }

        &>p.summary {
            margin-bottom: (lib.$gutter * 2);
        }
    }
    @media (max-width: lib.$breakpoint) {
        #scrollhint {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        img[src$=".svg"] {
            filter: contrast(0.01) brightness(2);
        }
    }

    nav.pagination {
        padding: lib.$gutter 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: lib.$breakpoint) {
            flex-direction: column-reverse;
        }
    }

    #lightbox {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 100;
        background: #000000cc;
        padding: lib.$gutter lib.$gutter;
        box-sizing: border-box;
        &.in {
            display: block;
        }
        img {
            height: 100%;
            object-fit: contain;
        }
    }

    h1.section,h2.section {
        padding-left: var(--gutter);
        display: flex;
        align-items: center;
        height: 83.3vh;
        color: var(--accent-foreground);

        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: lib.$breakpoint) {
            height: 56.25vw;
        }
    }

    .grid.well {
        li {
            height: 100%;
            img,video {
                display: block;
                height: 100%;
                width: 100%;
                max-height: calc(100vh - var(--gutter-xl));
                max-width: calc(100vw - var(--gutter-xl));
                object-fit: cover;
                object-position: 50% 0%;
                border-radius: var(--border-radius);
                box-shadow: lib.$shadow;
                &:hover {
                    cursor: pointer;
                }
            }
            video {
                object-fit: contain;
            }
            &.clear {
                grid-row: 3 / span 2;
            }
        }
    }

}
