@use '../library' as lib;

@use "../components/masthead";

@use "../components/gallery-inline";

body.project {

    #main {
        display: flex;
        flex-direction: column;

        p {
            &>img,&>svg,&>video {
                &.canzoom {
                    transition: all lib.$speed lib.$easing;
                    &:hover {
                        cursor: zoom-in,
                    }
                }
                &.zoom {
                    max-height: 100vh;
                    @include lib.fullWidth(100vw);
                    &:hover {
                        cursor: zoom-out;
                    }
                }
            }
            img.fullwidth,svg.fullwidth,video.fullwidth {
                max-height: 95vh;
                object-fit: cover;
            }
        }
        img.pullleft {
            @media (min-width: lib.$breakpoint) {
                width: 38%;
                margin-right: lib.$gutter;
                float: left;
            }
        }
        img.pullright {
            @media (min-width: lib.$breakpoint) {
                width: 38%;
                margin-left: lib.$gutter;
                float: right;
            }
        }

        #masthead {
            .description,.summary {
                max-width: lib.$grid-width;
            }
        }
        p.summary {
            margin-bottom: (lib.$gutter * 2);
        }
        h2,h3 {
            margin-top: (lib.$gutter * 4);
            margin-bottom: (lib.$gutter * 2);
        }
    }
    @media (max-width: lib.$breakpoint) {
        #scrollhint {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        img[src$=".svg"] {
            filter: contrast(0.01) brightness(2);
        }
    }

    nav.pagination {
        padding: lib.$gutter 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: lib.$breakpoint) {
            flex-direction: column-reverse;
        }
    }

    #lightbox {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 100;
        background: #000000cc;
        padding: lib.$gutter lib.$gutter;
        box-sizing: border-box;
        &.in {
            display: block;
        }
        img {
            height: 100%;
            object-fit: contain;
        }
    }

    h1.section,h2.section {
        padding: lib.$gutter;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 83.3vh;
        color: var(--hero-text-color);
        position: relative;

        // background-size: 120%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        @include lib.fullWidth();

        @media (max-width: lib.$breakpoint) {
            height: 56.25vw;
        }
    }

    .grid.well {
        // display: grid;
        // gap: var(--gutter);
        // grid-template-columns: repeat(12, 1fr);
        // grid-auto-flow: row;
        // list-style: none;
        // margin-top:  var(--gutter);
        // margin-bottom: var(--gutter);
        // box-sizing: border-box;
        // padding: var(--gutter);
        // background: var(--well-background);

        li {
            height: 100%;
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 0%;
                border-radius: var(--border-radius);
                box-shadow: lib.$shadow;
                &:hover {
                    cursor: pointer;
                }
            }
            &.contain {
                img {
                    object-fit: contain;
                    object-position: 50% 50%;
                }
            }
            &.clear {
                grid-row: 3 / span 2;
            }
        }
    }

}
