<footer id="footer">
    <div id="contact">
        <nav>

            <a href="#" data-part1="b" data-part2="brianmcconnell" data-part3="me" data-part4="What's good B?" class="link-email">
                {% include "images/social-icons/email.svg" %} Email
            </a>
{% for social in site.socials %}
{% assign socialimageurl = "images/social-icons/" | append: social.slug | append: ".svg" %}
<a href="{{social.url}}">{% include socialimageurl %} {{social.name}}</a>
{% endfor %}

        </nav>
    </div>
    <div id="colophon">
        <nav>
            <a href="/colophon/">Colophon</a>
            <a href="/privacy/">Privacy</a>
        </nav>
        <p class="updated-timestamp">© {{ "now" | date: '%Y-%m-%d' }} Brian McConnell</p>
    </div>
</footer>
