<a name="top"></a>

<header id="header">
    <a class="nav-home logo" href="/">{% include "images/profile/kageki-crane.svg" %}BMC</a>
    <a class="nav-top logo" href="#top">{% include "images/profile/kageki-crane.svg" %}</a>
    <nav id="menu">
        <a class="nav-about" href="/about/" title="About">About</a>
        <a class="nav-portfolio" href="/portfolio/" title="Portfolio">Portfolio</a>
        <a class="nav-resume" href="/resume/" title="Resumé">Resumé</a>
        <a class="nav-photos" href="/photos/" title="Gallery">Photos</a>
        <a class="nav-blog" href="/blog/" title="Blog">Blog</a>
    </nav>
</header>
<script type="text/javascript" language="javascript" src="/js/critters.js"></script>
