
/node_modules
/backup/2023/src/_images/uploads/bmc-flint_silicon-20221022.mp4
/backup/2023/node_modules
/metrics/downloads
/metrics/www
/metrics/logs
.DS_Store
/src/_images/uploads/bmc-flint_silicon-20221022.mp4
/src/.obsidian
/src/projects/.obsidian
/src/posts/.obsidian
/www
/backup/2023/www
/src/css
link-report.log
