@use '../library' as lib;

.build-in {
    transform: translate(0, 20%);
    opacity: 0;
    transition: transform (lib.$speed * 1) lib.$easing, opacity (lib.$speed * 2) lib.$easing;
    &.in {
        opacity: 100;
        transform: translate(0, 0);
    }
}
.blur-in {
    filter:blur(1em);
    opacity: 0;
    transition: filter (lib.$speed * 1) lib.$easing, opacity (lib.$speed * 1) lib.$easing;
    &.in {
        filter:blur(0);
        opacity: 100;
    }
}

.fade,
.fade-in {
    opacity: 0;
    transition: opacity (lib.$speed * 2) lib.$easing;
    &.in {
        opacity: 100;
    }
}

.pop {
    transition: all lib.$speed lib.$easing;
    transform: scale(0.01);
    &.in {
        transform: scale(1);
    }
}

[class*="slide"] {
    position: relative;
    transform: translate(0, 10%);

    &.slide-left {
        transform: translate(-20%, 0);
    }
    &.slide-right {
        transform: translate(20%, 0);
    }
    &.in {
        transition: all lib.$speed lib.$easing;
        transform: translate(0, 0);
    }
}

@view-transition {
  navigation: auto;
}

