@use "library" as lib;

.card {
    box-sizing: border-box;
    width: 100%;
    padding: var(--gutter);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: lib.$shadow;
    background: var(--card-background);
    color: var(--card-text-color);

    h1,h2,h3,h4,strong,b {
        color: var(--card-bold-color);
    }
}

.well {
    margin-top:  var(--gutter);
    margin-bottom: var(--gutter);
    box-sizing: border-box;
    padding: var(--gutter);
    background: var(--well-background);
}

.well.grid {
  padding: var(--gutter);
}

.hero {

    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-bottom: var(--gutter-xl);

    // @include lib.full-width(var(--gutter));
    @include lib.inverse(var(--hero-background));

    li {
        list-style: none;
    }
}

blockquote,.blockquote {
    padding: 0 var(--gutter);
    margin: var(--gutter) 0 var(--gutter) calc(var(--gutter) * -1);
    border-left: solid 4px var(--text-secondary);
    color: var(--text-secondary);

    @media (max-width: lib.$breakpoint) {
        margin-left: 0;
    }
}

.button, button {
    background: var(--primary);
    color: var(--on-primary);

    padding: calc( var(--gutter) * .5 ) var(--gutter);
    border-radius: var(--border-radius);
    text-decoration: none;
    box-shadow: inset 0px 1px 1px 0px var(--white-semi), lib.$shadow;

    &:hover {
      color: var(--hero-bold-color);
    }
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0em;
  margin-bottom: var(--gutter);
  // background: var(--body-background);
  overflow-x: scroll;
  display: block;

  th, td {
    padding: .5em 1em;
  }

  th {
    font-weight: lib.$bold-font-weight;
    font-size: lib.$small-font-size;
    border: 0 solid var(--border-color);
    border-width: 0 0 1px 0;
    text-align: left;
    color: var(--text-secondary);
  }

  td {
    font-size: lib.$small-font-size;
    vertical-align: top;
  }

  &.rotate {
    display: grid;
    grid-template-columns: 1fr 3fr;
    thead,tbody {
        display: grid;
        tr {
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: repeat(4,1fr);
        }
        th,td {
            padding: calc(var(--gutter) * .25);
            border: 1px solid var(--border-color);
            border-width: 0 0 1px 0;
            display: block;
            &:last-of-type {
                border: none;
            }
        }
    }

    @media (min-width:lib.$breakpoint) {
    }

  }

}

ul.nav, ol.nav {
  display: flex;
  flex-direction: row;

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding: 0 1em 0 0;
    }

  }

}

details {
  summary {
    cursor: pointer;
  }

  &[open] {
    summary {
      margin-bottom: lib.$gutter;
    }

    & > summary:before {
      transform: rotate(90deg);
    }

  }

}

.kpi {
  dt, em, i {
    font-style: normal;
  }

  b, strong, dd {
    // font-weight: lib.$bold-font-weight;
    font-size: 2em;
  }

  em, i, b, strong, code, s, dt, dd {
    display: block;
    // margin: 0;
    // padding: 0;
    // width: 100%;
  }

  em, i, dd+dt {
    color: var(--text-secondary);
    font-size: lib.$small-font-size;
  }

  b, strong, dd {
    color: var(--text-tertiary);
  }

}

.tooltip, .fly-out {
    display: block;
    box-sizing: border-box;
    width: 25vw;
    padding: .25rem;
    font-size: 0.81rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: lib.$shadow;
    background: var(--card-background);
    color: var(--card-text-color);
    opacity: 0;
    transition: 
        transform (lib.$speed * 1.5) lib.$easing, 
        left (lib.$speed * 1.5) lib.$easing, 
        top (lib.$speed * 1.5) lib.$easing, 
        opacity (lib.$speed * 1) lib.$easing;
    &.in {
        opacity: 1;
    }
}


ul.tags {
  li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 var(--gutter) var(--gutter) 0;
    a {
      margin: 0;
      padding: .125em .5em;
      display: inline-block;
      background: var(--hero-background);
      color: var(--hero-text-color);
      text-decoration: none;
      border-radius: var(--border-radius);
    }
  }
}