@use "../library" as lib;

:root {
    // PRIMITIVES
    // ------------------------------------------------------------
    --black:            #{lib.$neutral-05};
    --off-black:        #{lib.$neutral-10};
    --gray-dark:        #{lib.$neutral-30};
    --gray-mid:         #{lib.$neutral-50};
    --gray-light:       #{lib.$neutral-90};
    --off-white:        #{lib.$neutral-95};
    --white:            #{lib.$neutral-100};
    --white-semi:       #{lib.$neutral-100}61;

    --primary:          #{lib.$primary};
    --secondary:        #{lib.$secondary};
    --tertiary:         #{lib.$tertiary};
    --quartiary:        #{lib.$quartiary};
    --on-primary:       #{lib.$neutral-100};
    --breakpoint:       #{lib.$breakpoint};
    --success:          #{lib.$success};
    --error:            #{lib.$error};

    // SEMANTIC TOKENS
    // ------------------------------------------------------------
    --body-background:       var(--off-white);
    --body-foreground:       var(--gray-dark);
    --body-emphasized:       var(--black);

    --card-background:       var(--white);
    --card-foreground:       var(--gray-dark);
    --card-bold-color:       var(--black);
    //nee well-background
    --muted-background:      var(--gray-light);
    --muted-foreground:      var(--gray-mid);
    --muted-emphasized:      var(--black);
    //nee hero-background
    --accent-background:       #{lib.$neutral-20};
    --accent-foreground:       #{lib.$neutral-90};
    --accent-emphasized:       #{lib.$neutral-100};

    --border-color:          var(--gray-mid);

    --link-color:            var(--black);
    --link-color-hover:      var(--primary);

    // GRID & LAYOUT
    // ------------------------------------------------------------
    --width:                 #{lib.$grid-width};
    --columns:               #{lib.$grid-columns};
    --gutter:                #{lib.$gutter};
    --gutter-xl:             calc(var(--gutter) * 2);
    --margin:                #{lib.$grid-margin};
    --border-radius:         calc(var(--gutter) * .25);//#{lib.$gutter * 0.25};
    --border-radius-xl:      var(--gutter);

    // Defining shadows as a CSS var doesn't work for some reason
    // --shadow: 0 2px 8px var(--accent-background), 0 calc(var(--gutter * .25)) var(--gutter) var(--accent-background);
    // --shadow-xl: 0 2px 8px var(--accent-background), 0 calc(var(--gutter * 1)) var(--gutter-xl) var(--accent-background);

    // TYPE
    // ------------------------------------------------------------
    --base-font: #{lib.$base-font-family};
    --mono-font: #{lib.$mono-font-family};
    --head-font: #{lib.$head-font-family};
    --serif-font: #{lib.$serif-font-family};

    // NAVBAR
    // ------------------------------------------------------------
    --navbar-height:                calc(#{lib.$base-line-height} * 1.38);
    // --navbar-background:            var(--card-background);
    // --navbar-border:                var(--border-color);
    // --navbar-text:                  var(--body-foreground);
    // --navbar-primary:               var(--primary);
    // --navbar-link-color:            var(--link-color);
    // --navbar-link-hover-color:      var(--link-color-hover);
    // --navbar-link-hover-background: var(--muted-background);
    // --navbar-link-active-color:     var(--body-background);
    // --navbar-link-active-background: var(--body-foreground);

    @media (max-width: (lib.$grid-width)) {
      // --gutter: 1rem;
      --margin: var(--gutter);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --black:        #{lib.$neutral-100};
        --off-black:    #{lib.$neutral-95};
        --gray-dark:    #{lib.$neutral-90};
        --gray-mid:     #{lib.$neutral-50};
        --gray-light:   #{lib.$neutral-30};
        --white:        #{lib.$neutral-10};
        --off-white:    #{lib.$neutral-05};
        --white-semi:   #{lib.$neutral-05}61;

        --primary:      #{lib.$primary-inverse};
    };
}
::selection {
    background: var(--secondary);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: var(--body-background);
    color: var(--body-foreground);
}
