<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Imagetoolbar" content="" />
    <meta name="google-site-verification" content="DQmdjO07WcpJ5bOxDYLGSBnPpovsUnGuSqIFdQaRjHA" />
    <title>Brian McConnell</title>
    <meta name="description" content="Brian McConnell is a design executive with a unique background in design, product, engineering and entrepreneurship. His mission as a leader is to create a competitive advantage through design.">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preload" as="style" href="/css/screen.min.css">
    <link rel="preload" as="script" href="/js/mrbmc.min.js">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.min.css" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="bodytag" class="about">
    <a name="top"></a>


{{> header }}


<section id="masthead">
    <div class="container">
        <figure id="headshot">
            <img src="/img/brian-1x1-bw.jpg" alt="">
        </figure>
        <div id="masthead-text">
            <p>My friends call me BMC, but my family calls me Brian.</p>
            <p>I am a 👧🏻 father, 👦🏻 father, 👩🏻 husband, 🗽 New Yorker, <a href="#designer">designer</a> 👨‍💻, ️<a href="#cycling">cyclist</a> 🚲, <a href="https://www.steelgills.com">PADI divemaster</a> 🤿, and <a href="#travel">world traveler</a> 🌎.</p>
            <!--
            , 📖 auto-didact, 🍜 pho connoisseur , 🌮 short order taco cook
                <p>My friends call me BMC, a nickname given by a Wu-Tang member, but my family calls me Brian. Either works. I am a <a href="https://instagram.com/melodyviolet">father</a>, <a href="https://instagram.com/sandorawesome">father</a>, <a href="http://bettykang.com">husband</a>, New Yorker, auto-didact, <a href="http://www.strava.com/athletes/773650">road cyclist</a>, short order taco cook, <a href="https://www.steelgills.com">PADI divemaster</a>, <a href="https://www.tripadvisor.com/TravelMap-a_uid.9BCBBA84F6C2BD8D78DD31D21D58856F">world traveler</a> and pho connoisseur.</p> -->
            <p><em>Thanks for your time</em></p>
        </div>
    </div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
    <defs>
        <clipPath id="headshotMask" clipPathUnits="objectBoundingBox">
            <path stroke="none" fill="#20be86"
             transform="scale(0.004081632653, 0.004081632653)" d="M97 6.8564064605511a48 48 0 0 1 48 0l62.851251684408 36.287187078898a48 48 0 0 1 24 41.569219381653l0 72.574374157796a48 48 0 0 1 -24 41.569219381653l-62.851251684408 36.287187078898a48 48 0 0 1 -48 0l-62.851251684408 -36.287187078898a48 48 0 0 1 -24 -41.569219381653l1.1558628964852e-13 -72.574374157796a48 48 0 0 1 24 -41.569219381653"></path>
        </clipPath>
    </defs>
</svg>


    <section class="" id="designer">
        <figure class="cover">
            <figcaption>Designer</figcaption>
            <img src="/img/about-wireframes-l.jpg" alt="" />
            <!-- <img src="/img/about-books-1.0-m.jpg" alt="">
		<img src="/img/about-workshopmess-bw-m.jpg" alt=""> -->
        </figure>
        <div class="container">
            <h2>Design & Product Leader</h2>
            <p>I deeply believe that putting people at the center of everything you do - as a leader, as a designer, as an entrpreneur - leads to good work and good business outcomes.</p>

        <p>Most recently I led Enterprise product design at <img src="/img/disney-logo.svg" width="100px" style="margin-bottom: -.5em;" alt="Disney"> for our streaming services <a href="https://www.disneyplus.com">Disney+</a>, <a href="https://www.hulu.com">Hulu</a>, <a href="https://www.starplus.com">STAR+</a>, and <a href="https://espnplus.com">ESPN+</a>. Previously I led design for Growth (propelling Disney+ & ESPN+ to 130M subscribers in 2 years!), UX Research and Sports Products. Before joining Disney, I built high performing teams at startups, and enterprises using a customer-first mindset and cross-functional collaboration.</p>

        <p>My leadership approach is based on my core values of <b>curiosity</b> and <b>authenticity</b>. I have also been told that I excel at inspirational leadership and product strategy; but the work I’m most proud of is expanding design’s business impact and mentoring design leaders.</p>

        </div>
    </section>
    <section class="" id="cycling">
        <figure class="cover">
            <img src="/img/kankamagus.jpg" alt="">
            <figcaption>Cyclist</figcaption>
        </figure>
        <div class="container fade slide" data-spy="scroll">
            <h2>Cyclist</h2>
            <h3 class="">FTP: 3.5w/kg</h3>
            <p>My happy place is riding my bike across the New England countryside; on road and off. It is a source of physical and psychological nourishment for me. I try ride about 160km or 6 hrs a week.</p>
            <p>In August 2023, I toured across the Green Mountains of Vermont – riding 420km (260mi) over four days.</p>
            <p><iframe id="strava-rides" frameborder='0' allowtransparency='true' scrolling='no' title="BMC Strava Feed"></iframe></p>
            <script type="text/javascript">
            window.addEventListener('load', function() {
                var stravaRides = 'https://www.strava.com/athletes/773650/latest-rides/69a2b8f6090a8e92b3ea1c24ae6bbccdc629077e';
                document.getElementById('strava-rides').src = stravaRides;
            }, false);
            </script>
    </section>
    <section class="" id="travel">
        <figure class="cover">
            <img src="/img/bg-machu-pichu.jpg" alt="">
            <figcaption>Traveller</figcaption>
        </figure>
        <div class="container fade slide" data-spy="scroll">
            <h2>World Traveller</h2>
            <h3 class="">200+ Cities, 37 Countries, 5 Continents</h3>
            <p>I believe that travel makes you a better person and a better designer. My family and I try to explore the world whenever it's safe and reasonable.</p>
            <img src="/img/bmc-travelmap.svg" id="travel-map" alt="Brian's Travels" width="960" height="540" />
            <style type="text/css">
.#travel-map {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
            </style>
    </section>
    <section id="family">
        <figure class="cover">
            <img src="/img/family-16x9-raw.jpg" alt="">
            <figcaption>Key Stakeholders</figcaption>
        </figure>
        <div class="container">
            <h2>Key Stakeholders</h2>
            <p>Family comes first.</p>
            <p>
                👧🏻 Melody
                💏 Betty
                👦🏻 Sandor
            </p>
        </div>
    </section>


{{> footer }}


    <script type="text/javascript" language="javascript" src="/js/mrbmc.min.js"></script>
</body>

</html>