<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Imagetoolbar" content="" />
	<meta name="google-site-verification" content="DQmdjO07WcpJ5bOxDYLGSBnPpovsUnGuSqIFdQaRjHA" />
	<title>Brian McConnell | Design Leader</title>
    <meta name="description" content="Brian McConnell is a design executive with a unique background in design, product, engineering and entrepreneurship. His mission as a leader is to create a competitive advantage through design.">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    <!-- <link rel="preload" as="font" type="font/woff" href="./css/fonts/socicon/socicon.woff" crossorigin> -->
    <link rel="preload" as="style" href="/css/screen.min.css">
    <link rel="preload" as="script" href="/js/mrbmc.min.js">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/screen.min.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body id="bodytag" class="home">

<a name="top"></a>


{{> header }}

<section id="masthead">
	<div class="container" id="welcome">
		<h1>Design & Product Leadership</h1>

        <p>Brian McConnell is a design executive with a unique background as a designer, founder, product manager, and engineer. I build high performing UX teams that design for business impact.</p>

		<div id="headshot">
			<img s
            rc="/img/brian-panorama-bw.jpg" alt="">
		</div>

	</div>

    <a href="#work"><svg xmlns="http://www.w3.org/2000/svg" id="scrollhint" data-scrolltarget="work" viewBox="0 0 16 16"><path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg></a>

</section>

<div class="container" id="work">
    <h2>Selected Work</h2>
</div>
{{> project_list }}


{{> footer }}

<!-- <script type="text/javascript" language="javascript" src="/js/mrbmc.min.js"></script> -->
<script type="text/javascript">
// function onPageLoad (event) {
//     if(DEBUG) console.log('onPageLoad',event);
//     document.getElementById('scrollhint').addEventListener('click',onClickScrollhint,false);
// }
</script>


</body>
</html>
