@use "../library" as lib;


// quick hex values
// 10% = 19
// 20% = 32
// 25% = 40
// 30% = 4D
// 33% = 55
// 50% = 80
// 62% = 9F
// 66% = AA
// 75% = C0
// 90% = E6
// 95% = F3


:root {
    // PRIMITIVE TOKENS
    // ------------------------------------------------------------
    --black-semi:       #{lib.$neutral-05}CC;
    --black:            #{lib.$neutral-05};
    --off-black:        #{lib.$neutral-10};
    --gray-dark:        #{lib.$neutral-20};
    --gray-mid:         #{lib.$neutral-40};
    --gray-light:       #{lib.$neutral-90};
    --off-white:        #{lib.$neutral-95};
    --white:            #{lib.$neutral-100};
    --white-semi:       #{lib.$neutral-100}CC;

    --primary:          #{lib.$primary};
    --secondary:        #{lib.$secondary};
    --tertiary:         #{lib.$tertiary};
    --quartiary:        #{lib.$quartiary};
    --on-primary:       #{lib.$neutral-100};
    --breakpoint:       #{lib.$breakpoint};
    --success:          #{lib.$success};
    --error:            #{lib.$error};

    // SEMANTIC TOKENS
    // ------------------------------------------------------------
    --body-background:       var(--off-white);
    --body-foreground:       var(--gray-dark);
    --body-emphasized:       var(--black);

    --card-background:       var(--white);
    --card-foreground:       var(--gray-dark);
    --card-emphasized:       var(--black);

    --muted-background:      var(--gray-light);
    --muted-foreground:      var(--gray-mid);
    --muted-emphasized:      var(--black);

    --accent-background:       var(--gray-dark);
    --accent-foreground:       var(--off-white);
    --accent-emphasized:       var(--white);

    // theater components are always in dark mode
    --theater-background:    var(--black);
    --theater-foreground:    var(--white);

    --border-color:          var(--gray-mid);
 
    --link-color:            var(--primary);
    --link-color-hover:      var(--secondary);

    // GRID & LAYOUT
    // ------------------------------------------------------------
    --width:                 #{lib.$grid-width};
    --columns:               #{lib.$grid-columns};
    --gutter:                #{lib.$gutter};
    --gutter-xl:             calc(var(--gutter) * 2);
    --margin:                #{lib.$grid-margin};
    --border-radius:         calc(var(--gutter) * .25);//#{lib.$gutter * 0.25};
    --border-radius-xl:      var(--gutter);

    // Defining shadows as a CSS var doesn't work for some reason
    // --shadow: 0 2px 8px var(--accent-background), 0 calc(var(--gutter * .25)) var(--gutter) var(--accent-background);
    // --shadow-xl: 0 2px 8px var(--accent-background), 0 calc(var(--gutter * 1)) var(--gutter-xl) var(--accent-background);

    // TYPE
    // ------------------------------------------------------------
    --base-font: #{lib.$base-font-family};
    --mono-font: #{lib.$mono-font-family};
    --heading-font: #{lib.$head-font-family};
    --serif-font: #{lib.$serif-font-family};
    --base-weight: #{lib.$base-font-weight};
    --heading-weight: #{lib.$head-font-weight};
    --display-weight: #{lib.$display-font-weight};

    // NAVBAR
    // ------------------------------------------------------------
    --navbar-height:                calc(#{lib.$base-line-height} * 2);
    --navbar-background:                var(--white-semi);
    --navbar-foreground:                var(--off-black);
    --navbar-emphasized:                var(--black);
    // --navbar-border:                var(--border-color);
    // --navbar-text:                  var(--body-foreground);
    // --navbar-primary:               var(--primary);
    --navbar-link-color:            var(--body-emphasized);
    --navbar-link-hover-color:      var(--body-foreground);
    // --navbar-link-hover-background: var(--muted-background);
    // --navbar-link-active-color:     var(--body-background);
    // --navbar-link-active-background: var(--body-foreground);

    // @media (orientation: portrait) {
    //   --margin: var(--gutter);
    // }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --black-semi:   #{lib.$neutral-100}CC;
        --black:        #{lib.$neutral-100};
        --off-black:    #{lib.$neutral-95};
        --gray-dark:    #{lib.$neutral-90};
        --gray-mid:     #{lib.$neutral-40};
        --gray-light:   #{lib.$neutral-10};
        --off-white:    #{lib.$neutral-05};
        --white:        #{lib.$neutral-0};
        --white-semi:   #{lib.$neutral-05}CC;

        --primary:      #{lib.$primary-inverse};

        // elevate card over muted
        --card-background:      var(--gray-light);
        --muted-background:       var(--white);

        // theater is always dark mode
        --theater-background:    var(--white);
        --theater-foreground:    var(--off-black);
    };
}
::selection {
    background: var(--quartiary);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    background: var(--body-background);
    color: var(--body-foreground);
}
