@use 'sass:math';
@use '../library' as lib;


@font-face {
  font-family: "Monument";
  font-weight: lib.$base-font-weight;
  src: url('/css/fonts/ABCMonumentGrotesk-Light-Trial.woff2');
}
@font-face {
  font-family: "Monument";
  font-weight: lib.$bold-font-weight;
  src: url('/css/fonts/ABCMonumentGrotesk-Medium-Trial.woff2');
}

@font-face {
  font-family: "Adelle Sans";
  font-weight: lib.$base-font-weight;
  src: url('/css/fonts/Adelle_Sans_Light.woff');
}
@font-face {
  font-family: "Adelle Sans";
  font-weight: lib.$bold-font-weight;
  src: url('/css/fonts/Adelle_Sans_Semibold.woff');
}
@font-face {
  font-family: "Adelle";
  font-weight: lib.$serif-font-weight;
  src: url('/css/fonts/Adelle-Regular.woff2');
}

@font-face {
  font-family: "Whitney";
  font-weight: lib.$base-font-weight;
  src: url('/css/fonts/whitneybook.woff2');
}
@font-face {
  font-family: "Whitney";
  font-weight: lib.$bold-font-weight;
  src: url('/css/fonts/whitneysemibold.woff2');
}

@font-face {
  font-family: "Pelikan";
  font-weight: 300;
  font-display: swap;
  src: url('/css/fonts/ABCPelikan-Light-Trial.woff2');
}
@font-face {
  font-family: "Pelikan";
  font-weight: 400;
  font-display: swap;
  src: url('/css/fonts/ABCPelikan-Book-Trial.woff2');
}
@font-face {
  font-family: "Pelikan";
  font-weight: 600;
  font-display: optional;
  src: url('/css/fonts/ABCPelikan-Medium-Trial.woff2');
}
@font-face {
  font-family: "Pelikan";
  font-weight: 700;
  font-display: optional;
  src: url('/css/fonts/ABCPelikan-Bold-Trial.woff2');
}

:root {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: clamp(18px, 1.6vw, 28px);
  --type-scale: 1.2;
  @media (max-width: lib.$breakpoint) {
    --type-scale: 1.12;
  }
}

body {
  font-family: lib.$base-font-family;
  font-weight: lib.$base-font-weight;
  // font-size: 1rem;
  line-height: 1.38;
  letter-spacing: -0.0125em;
}

a {
  text-decoration: underline;
}
h1, h2, h3, h4, h5 {
  font-family: lib.$head-font-family;
  font-weight: lib.$head-font-weight;
  line-height: lib.$heading-line-height;
  letter-spacing: lib.$head-font-kerning;
  a {
    text-decoration: none;
  }
}
h1 {
  font-family: lib.$display-font-family;
  font-weight: lib.$display-font-weight;
  line-height: lib.$display-line-height;
  letter-spacing: lib.$display-font-kerning;
  font-size: calc(1rem * pow(var(--type-scale), 5));
}
h2 {
  font-family: lib.$display-font-family;
  font-weight: lib.$display-font-weight;
  line-height: lib.$display-line-height;
  font-size: calc(1rem * pow(var(--type-scale), 4));
}
h3 {
  font-size: calc(1rem * pow(var(--type-scale), 3));
}
h4 {
  font-size: calc(1rem * pow(var(--type-scale), 2));
}
h5 {
  font-size: calc(1rem * pow(var(--type-scale), 1));
}
.large-type {
  font-size: lib.$large-font-size;
}
.small-type,.caption,.legal {
  font-size: lib.$small-font-size;
}
blockquote, .blockquote {
  font-size: calc(1rem * pow(var(--type-scale), 2));
}
strong,b {
  // font-family: lib.$serif-font-family;
  // font-weight: lib.$serif-font-weight;
  font-weight: lib.$bold-font-weight;
}
