
body {
	width: 6.5in;
	margin-left: auto;
	margin-right: auto;
	background:#F9F9F9;
}
body,td,th,div,span {
	font: normal 8pt arial,san-serif;
	color: #444;
	line-height: 15px;
	letter-spacing: 1px;
}
a, a:visited {
	color: #C30;
}
h1 {
	display: inline;
	float: left;
	letter-spacing: -1px;
	font: normal 18pt "Helvetica",Arial,san-serif;
	line-height: 0px;
	color:#000;
}
h2 {
	letter-spacing: -1px;
	color:#000;
	font: normal 12pt arial
}
strong
{
	color:#000;
}
p{
	margin-bottom: 4%;
}
#resume
{
	background: #FFF;
	border: 1px solid #CCC;
}
.main {
	padding: 1% 3% 1% 3%;
}
#head {
	text-align: right;
	background: #F0F0F0;
	padding: 1% 3% 1% 3%;
	border: 1px solid #ccc;
	border-width: 0 0 1px 0;
}
#competencies
{
	width: 50%;
	float: left;
}
#skills 
{
	width: 35%;
	float: right;
}
