<a name="top"></a>

<header id="header">
    <a class="nav-home brand" href="/">BMC</a>
    <nav id="menu">
        <a href="javascript:history.back();" id="close-menu">Close</a>
        <a class="nav-about" href="/about/" title="About">Design</a>
        <a class="nav-portfolio" href="/portfolio/" title="Portfolio">Portfolio</a>
        <a class="nav-resume" href="/resume/" title="Resumé">Resumé</a>
        <a class="nav-photos" href="/photos/" title="Gallery">Photos</a>
        <a class="nav-blog" href="/blog/" title="Blog">Blog</a>
    </nav>
    <a href="#menu" id="open-menu">Menu</a>
</header>

