<a name="top"></a>

<header id="header">
    <a class="nav-home brand" href="/2023/">BMC</a>
    <nav id="menu">
        <a href="javascript:history.back();" id="close-menu">Close</a>
        <a class="nav-about" href="/2023/about/" title="About">Design</a>
        <a class="nav-portfolio" href="/2023/portfolio/" title="Portfolio">Portfolio</a>
        <a class="nav-resume" href="/2023/resume/" title="Resumé">Resumé</a>
        <a class="nav-photos" href="/2023/photos/" title="Gallery">Photos</a>
        <a class="nav-blog" href="/2023/blog/" title="Blog">Blog</a>
    </nav>
    <a href="#menu" id="open-menu">Menu</a>
</header>

