<section id="masthead">
    <h1 {% if parallaxHeading %}data-parallax="300" data-fade="75"{% endif %}>{{ title }}</h1>
    {% if mastheadSummary %}<p class="summary large">{{ mastheadSummary }}</p>{% endif %}
    {% if bodyclass == "blog post" %}
    <p {% if parallaxHeading %}data-parallax="300" data-fade="75"{% endif %}>
        <span class="date">{{date | date: "%B %d, %Y" }}</span>
        &bull;
        <span class="readingtime">{{ content | timeToRead }} to read</span>
    </p>
    {% endif %}
    {% if masthead-image or masthead-video %}
    <figure data-fade="75">
        {% if masthead-video %}
        <video src="/2023{{masthead-video}}" autoplay loop muted preload="auto" playsinline data-parallax="100" type="video/mp4" id="masthead-video"></video>{% else 
        %}<img src="/2023{{ masthead-image }}" alt="{{ masthead-title }}" data-parallax="60">
        {% endif %}
    </figure>
    {% endif %}
    <a class="scrollhint" href="#main">Scroll</a>
</section>
