@use '../library' as lib;

#header {
  box-sizing: border-box;
  z-index: 100;
  padding: 0 0.5rem;
  height: var(--navbar-height);
  width: 100%;
  background: var(--navbar-background);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: top lib.$speed lib.$easing;

  @media (max-width:lib.$breakpoint) {
    margin-left: 0;
  }

  a {
    font-family: lib.$navbar-font-family;
    font-weight: lib.$navbar-font-weight;
  }

  .logo {
    $logo-size: calc(var(--navbar-height) * 0.8);
    width: $logo-size;
    height: $logo-size;
    z-index: 30;
    box-sizing: border-box;
    // margin: -0.25em;
    padding: 0.25em;
    overflow: hidden;
    border-radius: var(--border-radius);

    &:hover {
      // background: var(--muted-background);
      // color: var(--muted-foreground);
    }

  }
  a.nav-top {
    position: fixed;
    z-index: 20;
    @include lib.glass();
    border-radius: 6vh;
    transition: transform lib.$speed lib.$easing;
    transform-origin: 50% 0% 0;
    // svg {
    //   mix-blend-mode: difference;
    // }
    &:hover {
      transform: scale(1.2);
    }
    @media (max-width: lib.$breakpoint) {
      display: none;
      
    }
  }

  #menu {
    display: flex;
    // margin-right: calc(var(--gutter) * -0.5);
    // margin-right: -0.5rem;

    a {
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      transition: all lib.$speed lib.$easing;
      padding: 0 calc(var(--gutter) * .5);
      margin: 0 0 0 var(--gutter);
      border-radius: var(--border-radius);
      // text-transform: uppercase;
      text-decoration: none;

      &:hover {
        background: var(--muted-background);
        color: var(--muted-foreground);
      }

      &.nav-cv, &.nav-resume, &.nav-photos {
        display: none;
      }

      @media (max-width:lib.$breakpoint) {
        margin: 0;
      }

    }

    @media (min-width: lib.$breakpoint) {
      width: 38%;
      justify-content: space-between;
      margin-right: var(--gutter);
      a {
        margin-left: 0;
      }
      
    }

  }

}

.active_nav, 
body.about #header #menu a[href="/about/"], 
body.portfolio #header #menu a[href="/portfolio/"], 
body.work #header #menu a[href="/portfolio/"], 
body.blog #header #menu a[href="/blog/"], 
body.resume #header #menu a[href="/about/"] {
  background: var(--accent-background);
  color: var(--accent-foreground);
}
