@use '../library' as lib;

#header {
  $logo-size: 1.62rem;

  box-sizing: border-box;
  z-index: 100;
  padding: 0 0.5rem;
  height: var(--navbar-height);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: top lib.$speed lib.$easing;

  @media (orientation: portrait) {
    margin-left: 0;
  }

  a {
    font-family: lib.$navbar-font-family;
    font-weight: lib.$navbar-font-weight;
    color: var(--navbar-link-color);
  }

  .nav-home,.nav-top {
    width: $logo-size;
    height: $logo-size;
    line-height: $logo-size;
    z-index: 30;
    overflow: hidden;
    border-radius: var(--border-radius);
    text-decoration: none;
    svg {
      color: var(--link-color);
      width: $logo-size;
      height: $logo-size;
    }
  }

  a.nav-top {
    position: fixed;
    z-index: 20;
    margin-left: -0.19rem;
    @include lib.glass();
    border-radius: var(--border-radius-xl);
    box-sizing: content-box;
    padding: .19rem;
    transition: transform lib.$speed lib.$easing;
    transform-origin: 50% 0% 0;
  }

  #menu {
    display: flex;

    a {
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      transition: all lib.$speed lib.$easing;
      padding: 0 calc(var(--gutter) * .5);
      border-radius: var(--border-radius);
      text-decoration: none;
      margin-left: var(--gutter);
      
      &:hover {
        background: var(--muted-background);
        color: var(--navbar-link-hover-color);
      }

      &.nav-cv, &.nav-resume, &.nav-photos {
        display: none;
      }

      &.active {
        background: var(--accent-background);
        color: var(--accent-foreground);
      }

      @media (orientation: portrait) {
        margin-left: var(--gutter);
      }

    }
  }
}

