@use '../library' as lib;

.project-list {
  padding-left: 0;
  padding-right: 0;
  &>.summary {
    grid-column: span var(--columns);
  }

  .project {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: all lib.$speed lib.$easing;
    column-gap: lib.$gutter;
    position: relative;

    @media (max-width:lib.$breakpoint) {
      flex-direction: column-reverse;
      row-gap: 1rem;
    }

    header {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      transition: opacity lib.$speed lib.$easing;

      h3,h4,h5,p {
        margin: 0.75rem 0;
      }
      p {
        margin: 0;
      }
      .summary {
        color: var(--muted-foreground);
      }
      .timeline, ul,.duration {
        display: none;
      }
      // .timeline {
      //   margin: 0;
      //   color: var(--muted-foreground);
      // }

    }

    figure, .figure {

      margin: 0;
      filter: saturate(95%);
      transition: all lib.$speed lib.$easing;
      border-radius: var(--border-radius);
      overflow: hidden;

      a {
        display: block;
      }

      img {
        display: block;
        object-fit: cover;
        aspect-ratio: 1.71;
        // border-radius: var(--border-radius);
      }

    }

    &:hover {
      z-index: 3;
      // box-shadow: lib.$shadow;

      figure, p.figure {
        transform: scale(1.02);
        filter: saturate(1.02) contrast(1.1) brightness(1.1);
      }
      header {
        opacity: 0.8;
      }      

    }

  }

}

