---
layout: layout.html
bodyclass: portfolio project
cssfile: "css/project.css"
---

{% if masthead-video or masthead-image %}
{% include "_masthead.html" %}
{% else %}
<h1 class="blur-in">{{ title }}</h1>
{% if description %}<p class="summary large blur-in">{{ description }}</p>{% endif %}
{% endif %}

<a id="content"></a>

{{ content }}

{% assign nextPost = collections[tags[0]] | getPreviousCollectionItem: page %}
{% assign previousPost = collections[tags[0]] | getNextCollectionItem: page %}
<nav class="pagination">
    {% if previousPost %}<a href="{{ previousPost.url }}">← Previous Project: {{ previousPost.data.title }}</a>{% endif %}
    {% if nextPost %}<a href="{{ nextPost.url }}">Next Project: {{ nextPost.data.title }} →</a>{% endif %}
</nav>

<div id="lightbox" class=""></div>

<script type="text/javascript" language="javascript" src="/js/portfolio.min.js"></script>
