// Core variables and mixins
@import "../lib/bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc

@import "_variables.less";

@import "../lib/bootstrap/less/mixins.less";



/* DEFAULT CSS */
// #header {
//     display: none;
// }
// #access {
//     background: transparent;
//     .box-shadow(none);
// }
// #header .container {
//     border-bottom: 1px solid #CCC;
// }
// #header .row {
//     margin-bottom: 0;
// }
// #pages .nav { margin-left: -15px;}
// #pages li.rss {
//     margin-right: 0;
// }
// #pages a, #header #pages a:visited {
//     color: #d86e4b;
// }
// #header a {
//     color: #d86e4b;
// }
// #header a:hover {
//     color: #FFFFFF;
// }

#search {
    text-align:right;
    input.search-text {
        height: 15px;
        padding: 4px 0;
        width: 0px;
        display: inline-block;
        margin: 8px 0 0 0;
        border: 1px solid @white;
        border-width: 0 0 1px 0;
        background: @navbarLinkColorHover;
        .transition(width 100ms);
        font-family: @baseFontFamily;
        color: @white;
        outline: none;
    }
    .search-submit {
        margin: 8px @gridGutterWidth/2 0 0;
        padding: 3px;
        width: 25px;
        height: 25px;
        display: inline-block;
        text-indent: -999em;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        background: transparent;
        &:before {
            content:"⚲";
            display: block;
            width: 25px;
            height: 25px;
            margin: -4px 0 0 -4px;
            text-indent: 0;
            line-height: 24px;
            font-size: 24px;
            font-weight: bold;
            color: @white;
            -webkit-transform: rotate(-45deg); 
               -moz-transform: rotate(-45deg); 
                 -o-transform: rotate(-45deg);
        }
    }
    &:hover {
        input.search-text {
            width: 130px;
            padding: 4px;
        }
    }
}
.post {
    padding: 32px 0 32px 0;
    margin: 0 0 64px 0;
    position: relative;
}
.post-meta {
    max-width: 700px;
    margin: 16px auto;
}
.post-type a {
    height: 48px; width: 48px;
    position: absolute; left: 16px; top: 32px;
    text-indent: -9999px;
    display: none;
}
.post-type-text .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 0;
}
.post-type-photo .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -48px;
}
.post-type-photoset .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -48px;
}
.post-type-quote .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -96px;
}
.post-type-link .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -144px;
}
.post-type-chat .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -192px;
}
.post-type-audio .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -240px;
}
.post-type-video .post-type a {
    background: url("http://static.tumblr.com/euguvyd/ntXl4578z/lightweight-icons.png") no-repeat 0 -288px;
}
.post-type a:focus, .post-type a:hover {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}
.post-type a:active {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.post-content {
    max-width: 700px;
    margin: 0 auto;
}
.post-content h3 {
    font-size: 1.75em;
    text-align: center;
}
.post-content .date {
    text-align:center;
    margin-bottom: 16px;
}
.post-content .date a {
    color: #666;
}
.post-content p, .post-content li {
    font-size: 1.125em;
    line-height: 150%;
}
.post-content img {
    margin-bottom: 20px;
    padding: 0px;
}
.post-type-text .post-content ul {
    padding-left: 30px;
}
.post-type-text .post-content ul ul {
    margin-bottom: 0;
}
.post-type-text .post-content ul li {
    list-style-type: disc;
}
.post-type-text .post-content ul ul li {
    list-style-type: circle;
}
.post-type-text .post-content ol {
    padding-left: 30px;
}
.post-type-text .post-content ol ol {
    margin-bottom: 0;
}
.post-type-text .post-content ol li {
    list-style-type: upper-latin;
}
.post-type-text .post-content ol ol li {
    list-style-type: lower-latin;
}
.post-type-photoset .post-content .html_photoset, .post-type-video .post-content .video-wrap {
    border: 1px solid #DDD;
    margin-bottom: 20px;
    padding: 10px;
}
.post-type-link .post-content .link-wrap {
    margin-bottom: 20px;
}
.post-type-chat .post-content .label {
    color: #000;
    font-weight: 300;
}
.post-type-audio .post-content .caption {
    margin-top: 20px;
}
.post-meta {
    font-size: 12px;
    overflow: hidden;
}
.post-meta .comments, .post-meta .note-count {
    float: left;
}
.post-meta a {
    margin-right: 20px;
    padding: 1px 0 1px 20px;
    font-family: "Futura-Bold","Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
}
.post-meta .comments a {
    background: url("http://static.tumblr.com/euguvyd/pJkl457a4/lightweight-small-icons.png") no-repeat 0 -16px;
}
.post-meta .note-count a {
    background: url("http://static.tumblr.com/euguvyd/pJkl457a4/lightweight-small-icons.png") no-repeat 0 -32px;
}
.quote-content {
  font-size: 150%;
  line-height: 1.5;
}
.share-this-post {
    margin-top: 10px;
}
.tags {
    font-size: 12px;
    margin-bottom: 10px;
    float:left;
}
.tags a {
    -webkit-border-radius:30px; 
    -moz-border-radius: 30px;
    border-radius: 30px; 
    background: #FFF;
    margin: 1px;
    padding: 2px 10px;
    line-height: 100%;
    display: inline-block;
}
.post-footer {
    border-top: 1px solid #DDD;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 0;
    text-transform: uppercase;
}
.post-footer .author {
    float: left;
}
.post-footer .shorturl {
    float: right;
}

#post-notes {
    border-top: 1px solid #DDD;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 0 0;
}
#post-notes ol li {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}
#post-notes ol li img {
    border: none;
    margin-right: 4px;
    vertical-align: middle;
}
#post-notes ol li blockquote {
    margin: 10px 0 0;
}
.widget {
    border-top: 1px solid #ccc;
    color: #555;
    font-size: 12px;
    padding: 20px 0;
}
.widget h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.widget ul {
    margin-bottom: 0;
}
#about {
    overflow: hidden;
}
#about img {
    float: left;
    margin: 5px 10px 5px 0;
}
#about p {
    margin-bottom: 0;
}
#stuff-i-like {
    overflow: hidden;
    width: 600px !important;
}
#stuff-i-like ul {
    overflow: hidden;
}
#stuff-i-like li.like_post {
    float: left;
    margin-right: 30px;
    width: 180px;
}
#stuff-i-like .like_post img {
 max-width: 178px;
}
#stuff-i-like .carousel-navigation {
    margin-top: 10px;
    overflow: hidden;
}
#stuff-i-like .carousel-navigation button {
    background: none;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    height: 30px;
    padding: 3px;
    width: 40px;
}
#stuff-i-like .carousel-navigation button:hover {
    border: 1px solid @linkColor;
    color: @linkColor;
}
#stuff-i-like .carousel-navigation .prev {
    float: left;
}
#stuff-i-like .carousel-navigation .next {
    float: right;
}
#latest-tweets {
    padding: 30px 0 20px;
}
#latest-tweets ul li {
    margin-bottom: 10px;
}
#people-i-follow {
    overflow: hidden;
}
#people-i-follow li {
    display: inline;
    padding: 0;
    margin: 0;
}
.pagination {
    border-top: 1px solid #ccc;
    color: #555;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 0;
    text-transform: uppercase;
}
.pagination .archive, .pagination .random {
    float: left;
    margin-right: 20px;
}
.pagination .previous-page, .pagination .page-number, .pagination .next-page {
    float: right;
    margin-left: 20px;
}
.pagination a {
    color: #555;
}
.pagination .previous-page a {
    background: url("http://static.tumblr.com/euguvyd/pJkl457a4/lightweight-small-icons.png") no-repeat left -48px;
    padding: 1px 0 1px 20px;
}
.pagination .next-page a {
    background: url("http://static.tumblr.com/euguvyd/pJkl457a4/lightweight-small-icons.png") no-repeat right -64px;
    padding: 1px 20px 1px 0;
}

