@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);
@font-face {
	font-family:"Gill-Sans-Light";
	font-weight: normal;
	src:url('/css/fonts/GillSansMTPro-Light.eot');
    src:url('/css/fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),
	    url('/css/fonts/GillSansMTPro-Light.ttf') format('truetype');
	src:url('/css/fonts/GillSansMTPro-Light.woff') format('woff');
}
@sansFontFamily:        "Gill-Sans-Light","Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "Roboto Slab","Palatino","Times New Roman", Times,serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
@headingsFontFamily: 	"Gill-Sans-Light","Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
