@use "../library" as lib;

@use "../base/molecules";
@use "../components/sticky-nav";
@use "../components/lightbox";

html {
    scroll-snap-type: y proximity;
}

body.about {

  #bio {

    row-gap: var(--gutter);

    @for $i from 1 through 5 { // Loop from 1 to 5 for p elements
      p:nth-of-type(#{$i}) { // Target each p element using nth-child
        transition-delay: ($i * (lib.$speed * 0.25)); // Calculate incremental delay (e.g., 0.1s, 0.2s, etc.)
      }
    }

    #killabmc {
      position: absolute;
      z-index: 100;
      width: 25vw !important;
    }

    #portrait {
      box-sizing: border-box;
      overflow: hidden;
      align-self: center;
      img, image {
        clip-path: url(#portrait_mask);
      }
    }

    // desktop
    @media (orientation: landscape) {
      height: calc(80vh);

      .parallelogram {
        shape-outside: polygon(90% 0, 100% 0, 10% 100%, 0 100%);
        float: left;
        height: 4em;
        width: 0.5rem;
      }

      h1 {
        order: 2;
        align-self: end;
        .parallelogram {
          height: 1em;
          width: 1rem;
        }
      }

      p {
        order: 3;
        align-self: start;
      }
      #portrait {
        order: 1;
      }

    }

    // mobile
    @media (orientation: portrait) {
      padding-top: var(--gutter-xl);
      padding-bottom: var(--gutter-xl);

      #portrait {
        grid-column: span var(--columns);
      }
    }

  }

  section {
    padding-top: var(--gutter-xl);
    padding-bottom: var(--gutter-xl);
    img {
      border-radius: var(--border-radius);
    }
  }

  #highlights {
    & + ul li {
      margin-bottom: var(--gutter);
    }
  }

  #leadership {
    @include lib.clearfix();
  }

  #principles {
    .grid {
      height: 100vh;
      scroll-snap-align: center;
      @media (orientation: landscape) {
      }
      @media (orientation: portrait) {
        align-content: center;
      }
    }
  }

  #process {
  }

  .grid {
    h5 {
      margin-top: 0;
    }

    [class*="col-"] {
      align-self: center;
    }

  }

}

ul.timeline {
  width: auto;

  @media (orientation: landscape) {
    margin: lib.$gutter-xl lib.$gutter;
  }

  li {
    margin: 0;
    position: relative;
    padding: 0 0 lib.$gutter-xl lib.$gutter;
    border-left: 2px solid var(--muted-foreground);
    list-style: none;

    &:last-of-type {
      padding-bottom: 0;
    }

    &:before {
      display: inline-block;
      content: "";
      $bullet-size: .62rem;
      width: $bullet-size;
      height: $bullet-size;
      border-radius: var(--border-radius);
      margin: 0 lib.$gutter 0 calc((lib.$gutter * -1) - ($bullet-size * .5) - 1px);
      background: var(--muted-foreground);
    }

  }

}