@use '../library' as lib;

@use "../base/molecules";

@use "../components/masthead";

@use '../components/project-list';

@use '../components/post-list';


body.home {
  #header {
    position: absolute;
    a {
      color: var(--accent-foreground);
    }
  }

  #masthead {
    background: var(--body-background);
    margin-bottom: var(--gutter-xl);

    h1,h2,h3,p {
      color: var(--accent-foreground);
    }
    p.large-type {
      background-image: linear-gradient(to bottom, var(--accent-foreground), var(--border-color)); /* Example: Red to Blue linear gradient */
      -webkit-background-clip: text; /* For Webkit browsers like Chrome, Safari */
      background-clip: text;
      -webkit-text-fill-color: transparent; /* For Webkit browsers */
      color: transparent; /* Fallback for other browsers, or if -webkit-text-fill-color isn't needed */

    }

    #crane {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      canvas {
        width: 100%;
        height: 100%;
      }
    }

    height: 100vh;
    @media (min-width: lib.$breakpoint) {
      align-items: flex-end;
      justify-content: center;
      h1 {
        font-size: calc(1rem * pow(var(--type-scale), 6));
        margin-bottom: var(--gutter);
        width: 38%;
      }
      p.large-type {
        font-size: calc(1rem * pow(var(--type-scale), 1));
        width: 38%;
      }
    }
    @media (max-width: lib.$breakpoint) {
      flex-direction: column-reverse;
      p.large-type {
        margin-top: var(--gutter-xl);
      }
    }
  }

  .project-list {
    row-gap: 0;
    .project {
      header {
        display: none;
      }
    }
  }
}
