@use '../library' as lib;

body.home {
  #header {
    .nav-home {
      display: flex;
      width: fit-content;
      gap: 1em;
    }
  }

  #masthead {
    height: calc(62vh);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1,h2,h3,p {
      margin-bottom: var(--gutter);
      // color: var(--body-emphasized);
    }

    @media (orientation: landscape) {
      align-items: flex-start;
      justify-content: center;
      h1,h2,h3,p {
        width: 50%;
      }
      p.large-type {
        font-size: calc(1rem * pow(var(--type-scale), 1));
      }
    }
    @media (orientation: portrait) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  h2 {
    margin-top: 0;
    transition-delay: (lib.$speed * .5);
  }
  .project-list {
    margin-bottom: var(--gutter-xl);
    transition-delay: (lib.$speed * 1);
    .project {
      border-radius: 1.5em;
      overflow: hidden;
      header {
        display: none;
      }
      p.figure {
        margin: 0;
        a{
          display: block;
        }
        img {
          display: block;
          aspect-ratio: 16/9;
          object-fit: cover;
        }
      }
    }
  }

  @media (orientation: portrait) {
    overscroll-behavior: none;
    max-height: 100vh;
  }

}

