@use '../library' as lib;

@use "../base/molecules";

body.resume {
    main {
        margin-top: lib.$gutter;
    }
    p,li {
        font-family: lib.$serif-font-family;
        font-weight: lib.$serif-font-weight;
    }
    h1,h2,h3,h4,h5 {
        margin: 0 0 var(--gutter) 0;
    }
    h2 {
        color: var(--muted-foreground);
        font-size: calc(1rem * pow(var(--type-scale), 6));
        margin: 1em 0;
    }
    h3 {
        color: var(--muted-foreground);
        font-size: calc(1rem * pow(var(--type-scale), 4));
    }
    h4 {
        // text-transform: inherit;
    }
    h5 {
        // font-size: 120%;
    }
    h4,h5 {
    }
    h4 {
        display: inline-block;
        margin-right: 0.5rem;
    }
    h4+h5 {
        display: inline-block;
        color: var(--muted-foreground);
        font-weight: 400;
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
    p {
        margin: 0 0 var(--gutter) 0;
    }
    ol.stats {
        list-style: none;
        li {
        }
        &+p {
            margin-left: 0;
        }
    }

    hr {
        clear: both;
        margin: var(--gutter-xl) auto;
    }

    #education,.education {
        padding: 1em 1em 0.5em 1em;
        h2,h3, p, strong {
            color: var(--gray-dark);
        }
        background: #5b0e9c url(/images/nyu-torch.svg) no-repeat center right;
    }
    img.torch {
        display: block;
        width: 3em;
        margin: 0 auto;
    }

    @media (orientation: portrait) {
        h4,h4+p {
            float: none;
            width: auto;
        }
        h3,p,h5,ul,ol {
            margin-left: 0;
        }
    }
}

