body.about {

    main,#main {
        padding-top: 0;

        & > section {
            border-top: solid 1px $borderColor;
            padding-top: $spacerVertical * 2;
            margin-top: $spacerVertical * 2;
        }


    }

    h1 {
        margin: ($spacerVertical * 2) 0 $spacerVertical;
    }
    h1 + p {
        margin: $spacerVertical 0 ($spacerVertical * 2);
    }

    img[alt="Disney"] {
        height: ($baseLineHeight * 1em);
        width:auto;
        display:inline;
        margin-bottom: -.4em;
        margin-right: .25em;
    }
    #travel-map {
        width: 100%;
        height: auto;
        // filter: hue-rotate(60deg);
    }
    #strava-rides,#strava-profile {
        height: 454px;
        width: 100%;
    }

    img.cover {
        $w: 100vw;
        @include fullWidth($w);
        overflow: hidden;
        object-fit: cover;
        // height: (100vw / 2.31);
        height: math.div($w, 4);

        &.family {
            filter: sepia(10%) hue-rotate(0deg) saturate(50%) brightness(100%);
        }


    }

    .hero {
        // @include inverse();

        // @include fullWidth(100vw);
        // box-sizing: border-box;
        // padding: $spacerVertical $spacerHorizontal;

        display: flex;
        flex-direction: column;
        row-gap: $spacerVertical;

        li {
            list-style: none;
            width: 100%;
            max-width: $gridWidth;
            margin: 0 auto;

            details {
                margin: 0;
            }
            strong,em {
                display: block;
                margin-bottom: 1rem;
            }
        }
    }

    @media (orientation: portrait) {
        img.cover {
            height: 33vh;
        }
    }

    hr {
        margin: ($spacerVertical * 3) auto;
    }
}




ul.timeline {
    @include card;

    margin: $spacerVertical ($spacerHorizontal * 2);

    li {
        margin: 0;
        position: relative;
        padding: 0 0 $spacerVertical $spacerHorizontal;
        border-left: 2px solid $textOffColor;
        list-style: none;
        &:last-of-type {
            padding-bottom: 0;
        }
        &:before {
            display: inline-block;
            content: "";
            $bullet-size: .62rem;
            width: $bullet-size;
            height: $bullet-size;
            @include border-radius(1em);
            margin: 0 $spacerHorizontal 0 calc(($spacerHorizontal * -1) - ($bullet-size * .5) - 1px);
            background: $textOffColor;
        }

    }
}

