body.about {

    main,#main {
        & > section {
            border-top: solid 1px $border-color;
            padding-top: $spacer-vertical * 2;
            margin-top: $spacer-vertical * 2;
        }
    }

    h1 + p {
        margin: $spacer-vertical 0 ($spacer-vertical * 2);
    }

    img[alt="Disney"] {
        height: ($base-line-height * 1em);
        width:auto;
        display:inline;
        margin-bottom: -.4em;
        margin-right: .25em;
    }
    #travel-map {
        width: 100%;
        height: auto;
        // filter: hue-rotate(60deg);
    }
    #strava-rides,#strava-profile {
        height: 454px;
        width: 100%;
    }

    img.cover {
        $w: 100vw;
        @include fullWidth($w);
        overflow: hidden;
        object-fit: cover;
        // height: (100vw / 2.31);
        height: math.div($w, 4);

        &.family {
            filter: sepia(10%) hue-rotate(0deg) saturate(50%) brightness(100%);
        }


    }

    .hero {
        li .card {
            min-height: 100%;
            flex-basis: calc(50% - ($spacer-horizontal * 1));
        }
    }

    @media (orientation: portrait) {
        img.cover {
            height: 33vh;
        }
    }

    hr {
        margin: ($spacer-vertical * 3) auto;
    }
}




ul.timeline {
    width: auto;
    @media (orientation: landscape) {
        margin: $spacer-vertical ($spacer-horizontal * 2);
    }

    li {
        margin: 0;
        position: relative;
        padding: 0 0 $spacer-vertical $spacer-horizontal;
        border-left: 2px solid $text-color-subdued;
        list-style: none;
        &:last-of-type {
            padding-bottom: 0;
        }
        &:before {
            display: inline-block;
            content: "";
            $bullet-size: .62rem;
            width: $bullet-size;
            height: $bullet-size;
            @include border-radius(1em);
            margin: 0 $spacer-horizontal 0 calc(($spacer-horizontal * -1) - ($bullet-size * .5) - 1px);
            background: $text-color-subdued;
        }

    }
}

