// Transitions
@mixin transition($transition) {
  // -webkit-transition: $transition;
  //    -moz-transition: $transition;
  //      -o-transition: $transition;
          transition: $transition;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
     // -moz-transform: translate($x, $y);
     //  -ms-transform: translate($x, $y);
     //   -o-transform: translate($x, $y);
          transform: translate($x, $y);
}
@mixin scale($ratio) {
  // -webkit-transform: scale($ratio);
  //    -moz-transform: scale($ratio);
  //     -ms-transform: scale($ratio);
  //      -o-transform: scale($ratio);
          transform: scale($ratio);
}

@mixin rotate($degrees) {
    // -webkit-transform: rotate($degrees);
    // -moz-transform: rotate($degrees);
    // -ms-transform: rotate($degrees);
    // -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

.buildin {
    @include translate(0, 20%);
    @include opacity(0);
    &.in {
        transition: transform ($animation-speed * 1) $animation-easing, opacity ($animation-speed * 1.5) $animation-easing;
        @include opacity(100);
        @include translate(0, 0);
    }
}

.fade {
    @include opacity(0);
    &.in {
        @include transition(opacity $animation-speed*2 $animation-easing);
        @include opacity(100);
    }
}

.pop {
    @include transition(all $animation-speed $animation-easing);
    @include scale(.01);

    &.in {
        @include scale(1);
    }
}

[class*="slide"] {
    position: relative;
    @include translate(0, 10%);

    &.slide-left {
        @include translate(-20%, 0);
    }
    &.slide-right {
        @include translate(20%, 0);
    }
    &.in {
        @include transition(all $animation-speed $animation-easing);
        @include translate(0, 0);
    }
}
