.blog {

	@media (max-width: $breakpoint-phone) {
	    margin-top: 0;
	}

	div.post {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		margin: 0 0 $spacer-vertical 0;
		column-gap: $spacer-horizontal;

        &:hover {
			cursor: pointer;
            z-index: 3;
            figure {
            }
            img {
	            transform: scale(1.05);
                box-shadow: $shadow;
                filter: saturate(150%);
            }           
        }

		& > * {
			flex: 0 0 auto;
		}
		h3 {
			margin-bottom: 0;
			font-size: 1.2rem;
		}
		p.date {
			margin-bottom: 0;
			@include smallType();
			color: $text-color-subdued;
		}
		summary {
			// flex-basis: 75%;
			width: calc(75% - $spacer-horizontal);
		}
		img {
			// display: flex;
			// flex-basis: 25%;
			width: 25%;
			border-radius: $border-radius;
	        transition: all $animation-speed $animation-easing;
		}

	}	
}


body.post {

	@include item-detail();

	.related-posts {
		margin-top: $spacer-vertical;
		padding-top: $spacer-vertical;
	}
}

