.blog {
	@include item-list();

	@media (max-width: $breakpointPhone) {
	    margin-top: 0;
	}

	div.post {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		margin: $spacerVertical 0;
		column-gap: $spacerHorizontal;
		&:hover {
			cursor: pointer;
		}
		& > * {
			flex: 0 0 auto;
		}
		h3 {
			margin-bottom: 0;
			font-size: 1.2rem;
		}
		p.date {
			margin-bottom: 0;
			@include smallType();
			color: $textOffColor;
		}
		summary {
			// flex-basis: 75%;
			width: calc(75% - $spacerHorizontal);
		}
		img {
			// display: flex;
			// flex-basis: 25%;
			width: 25%;
			border-radius: 0.5rem;
		}

	}	
}


body.post {

	@include item-detail();

	.related-posts {
		margin-top: $spacerVertical;
		padding-top: $spacerVertical;
	}
}

