#header {
    padding: ($navbar-height * .19) $spacer-horizontal;

    position: relative;
    z-index: 100;
    box-sizing: border-box;
    height: $navbar-height;
    min-height: 44px;
    width: 100%;

    background: $navbar-background;
    border: $navbar-border;
    border-width: 0 0 1px 0;
    // -webkit-backdrop-filter: blur(.25rem);
    // backdrop-filter: blur(.25rem);

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: top $animation-speed $animation-easing;

    @media (orientation: portrait) {
        margin-left: 0;
    }

    #menu {
        display: flex;
    }

    a {
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        color: $navbar-link-color;

        @include transition(all $animation-speed $animation-easing);

        padding: 0 ($spacer-horizontal * 1);
        margin: 0 0 0 $spacer-horizontal;
        border-radius: $border-radius;

        &:hover {
            @include transition(all ($animation-speed * .5) $animation-easing);
            color: $navbar-link-hover-color;
            background: $navbar-link-hover-background;
        }

        &.nav-cv,&.nav-resume,&.nav-photos {
            display: none;
        }
    }

    .brand {
        $logo-size: $navbar-height * .62;
        width: $logo-size;
        height: $logo-size;
        z-index: 3;
        margin: 0;
        padding: 0.25em;
        overflow: hidden;
        &:before {
            display: inline-block;
            content: "";
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 563 563" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M131.853 333.434L562.468 523.367L336.482 193.322L131.853 333.434Z" /><path fill="currentColor" d="M440.148 306.588L557.907 39.6064L353.279 179.718L440.148 306.588Z" /><path fill="currentColor" d="M119.371 315.67L111.161 134.941L198.03 261.811L119.371 315.67Z" /><path fill="currentColor" d="M392.269 469.535L226.741 396.524L313.61 523.394L392.269 469.535Z" /><path fill="currentColor" d="M93.5943 139.347L0.373047 201.727L95.6468 198.417L93.5943 139.347Z" /></svg>');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            width: 100%;
            height: 100%;
            &:hover {
                filter: invert(100%);
            }

            @media (prefers-color-scheme: dark) {
                filter: invert(100%);
            }
        }
    }

}

.active_nav,
body.about #header #menu a[href="/about/"],
body.portfolio #header #menu a[href="/portfolio/"],
body.blog #header #menu a[href="/blog/"],
body.resume #header #menu a[href="/about/"] {
    color: $navbar-link-active-color;
    background: $navbar-link-active-background;
}



.stickynav {
    @media (orientation: portrait) {
        display: none;
    }

    position: sticky;
    z-index: 90;
    top: ($spacer-vertical * .25);
    display: flex;
    justify-content: center;
    width: min-content;
    margin: $spacer-vertical auto;
    box-shadow: 0 $shadow-offset $shadow-depth $shadow-color;
    border-radius: 2rem;
    -webkit-backdrop-filter: blur(.2rem);
    backdrop-filter: blur(.2rem);


    &>li {
        background: $navbar-background;
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;

        &:first-of-type {
            border-radius: 1em 0 0 1em;
        }
        &:last-of-type {
            border-radius: 0 1em 1em 0;
        }

        //SUBNAVS
        ol {
            display: none;
            background: $body-background;
            position: absolute;
            padding: .25rem 0rem;
            box-shadow: 0 $shadow-offset $shadow-depth $shadow-color;
            border-radius: .25em;
            overflow: hidden;

            li {
                list-style: none;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                a {

                }
            }
        }
        &:hover {
            ol,ul {
                display: block;
            }
        }


        a {
            display: flex;
            white-space: nowrap;
            text-decoration: none;
            padding: 0 ($spacer-horizontal * 1);
            &:hover {
                background: $navbar-link-hover-background;
                color: $navbar-link-hover-color;
            }
        }
    }

    @include small-type();

    a[href="#top"] {
        content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTMgMjAiPjxwYXRoIGQ9Ik0yNi41MDAzIDIuMzEzNDVMOS4xMTQyNiAxNi4yMjI1TDEwLjMwMzMgMTcuNjg5NUwyNi41MDAzIDQuNzMyNDVMNDIuNjk3MyAxNy42ODg1TDQzLjg4NjMgMTYuMjIyNUwyNi41MDAzIDIuMzEzNDVaIiBmaWxsPSJjdXJyZW50Q29sb3IiLz48L3N2Zz4=");
        width: 1rem;
        height: 1em;
        position: absolute;
        right: $spacer-horizontal;
        top: ($navbar-height * .38);
    }
}

