body.home {
    #header {
        position: absolute;
        left: 0;
        right: 0;
        background: transparent;
        box-shadow: none;

        a#open-menu {
            &:before,&:after {
                // background: $heroUnitHeadingColor;
            }
        }
        #menu {
            a {
                // color: $heroUnitHeadingColor;
                &:hover {
                    // color: $navbarLinkColorHover;
                }
            }
            &:target {
                a {
                    // color: $navbarLinkColor;
                }
            }
        }
        .brand {
            // filter: invert(0%);
            // color: $navbarLinkColor;
            &:before {
                display: none;
            }
        }
    }
    main,#main {
        padding-top: 0;
    }
    #masthead {
        background: $bodyBackground;
        color: $textColor;
        @media (orientation: landscape) {
            height: (100vh);
        }
        @media (orientation: portrait) {
            height: 62vh;
        }

        figure {
            display: none;
        }

        h1,h2,h3 {
            color: $textBoldColor;
        }
        h1{
            &:before {
                content: "";
                background: url(/images/profile/kageki-crane.svg);
                background-repeat: no-repeat;
                display: block;
                filter: invert(34%) sepia(77%) saturate(1900%) hue-rotate(8deg) brightness(98%) contrast(104%);
                $iconsize: 3.6em;
                @media (orientation: landscape) {
                    float: right;
                    width: $iconsize;
                    height: $iconsize;
                    background-size: $iconsize;
                    background-position: right center;
                }
                @media (orientation: portrait) {
                    // $iconsize: 2em;
                    width: 100%;
                    height: $iconsize;
                    background-size: $iconsize;
                    background-position: left center;
                }
            }
            & > em {
                    background: linear-gradient($_indigo, $_teal, $_pink);
                    background: linear-gradient($brandAccent, $brandColor, $brandComplement);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-style: normal;
            }
        }
        p {
            // @include largeType;
            z-index: 1;
            &:last-of-type {
                z-index: 2;
                margin-bottom: 0;
            }
        }
        .scrollhint {
            @media (orientation: landscape) {
                display: block;
            }
        }



        // &:before {
        //     background-image: url('/images/blog/mobius.png');
        //     background-repeat: no-repeat;
        //     background-attachment: fixed;
        //     background-size: 100% 100%;
        //     filter: blur(2rem) saturate(150%) brightness(0.8);
        //     transform: translateZ(0) scale(1.2);

        //     content: "";
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     left: -0vw;
        //     top: -0vh;
        //     z-index: -2;
        // }

        // &:after {
        //     content: "";
        //     background-size: 1000px;
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     z-index: 0;
        //     filter: url(#noiseFilter) opacity(25%);
        //     transform: translateZ(0);
        // }
/*
        #gradient-canvas {
            display: none;
            width:100%;
            height:100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 0.2;
            // filter: saturate(50%);
            // --gradient-color-1: #{$brandColor};
            // --gradient-color-2: #{$brandSecondary};
            // --gradient-color-3: #{$brandColor};
            // --gradient-color-4: #{$brandAccent};
        }
*/
    }
    .project-list,.blog {
        padding-top: $spacerVertical;
    }
    .project-list {
        h2 {
            text-align: center;
        }

        // .project {
        //     flex: 1 0 calc(50% - $spacerHorizontal);
        //     flex-direction: column-reverse;
        //     header {
        //     }
        //     h3 {
        //         margin: 0;
        //     }
        //     img {
        //         background: $wellBackground;
        //         width: 100%;
        //         object-fit: cover;
        //         height: 19vw;
        //     }
        //     @media (orientation: landscape) {
        //         // scroll-snap-align: start;
        //     }
        //  }
        @media (orientation: portrait) {
            padding: 0 $spacerHorizontalPhone;
            .project {
                flex: 1 0 100%;
                img {
                    height: 60vw;
                }

            }
        }
    }
    #masthead {
            @media (orientation: landscape) {
                // scroll-snap-align: start;
            }
    }
    footer {
            @media (orientation: landscape) {
                // scroll-snap-align: end;
            }
    }


}

/*
@keyframes gradient {
    0% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
    12.5% {
        // background-position: 0% 0%;
        background-size: 200% 100%;
    }
    25% {
        background-position: 100% 0%;
        background-size: 100% 100%;
    }
    37.5% {
        // background-position: 100% 0%;
        background-size: 100% 200%;
    }
    50% {
        background-position: 100% 100%;
        background-size: 200% 200%;
    }
    62.5% {
        // background-position: 100% 100%;
        background-size: 100% 200%;
    }
    75% {
        background-position: 0% 100%;
        background-size: 100% 100%;
    }
    87.5% {
        // background-position: 0% 100%;
        background-size: 200% 100%;
    }
    100% {
        background-position: 0%  0%;
        background-size: 100% 100%;
    }
}

@keyframes canvasMover {
    0% {
        background-position: 0% 0%;
        transform: scale(1.0, 1.0);
    }
    12.5% {
        // background-position: 0% 0%;
        transform: scale(2.0, 2.0);
    }
    25% {
        background-position: 100% 0%;
        transform: scale(1.0, 2.0);
    }
    37.5% {
        // background-position: 100% 0%;
        transform: scale(1.0, 2.0);
    }
    50% {
        background-position: 100% 100%;
        transform: scale(1.0, 1.0);
    }
    62.5% {
        // background-position: 100% 100%;
        transform: scale(2.0, 1.0);
    }
    75% {
        background-position: 0% 100%;
        transform: scale(2.0, 2.0);
    }
    87.5% {
        // background-position: 0% 100%;
        transform: scale(1.0, 2.0);
    }
    100% {
        background-position: 0%  0%;
        transform: scale(1.0);
    }
}

*/
// body.home #masthead {
//     padding:  0 1rem;
// }
// body.home #masthead h2,body.home #masthead p {
//     max-width: 50%;
// }
