body.home {
    #header {
        position: absolute;
        background: transparent;
    }
    #masthead {
        background: $body-background;
        color: $text-color;
        justify-content: center;
        @media (orientation: landscape) {
            min-height: calc(81vh);
            height: auto;
        }
        @media (orientation: portrait) {
            padding-top: ($spacer-vertical + $navbar-height);
        }

        figure {
            display: none;
        }

        h1,h2,h3,p {
            color: $text-color-bold;
            max-width: 26em;
        }
        h1 {
            // font-size: (1rem * pow($type-scale,7));
            margin: 0;
            @media (orientation: portrait) {
                padding-right: 0;
            }
            & > em {
                    color: $brand-color;
                    background: $text-color;
                    background-image: linear-gradient(transparentize($brand-accent,0.5) 19%, transparentize($brand-color,0.2) 81%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-style: normal;
                    padding-right: 3px;
                    margin-right: -3px;
            }
            & > strong {
                    color: $brand-complement;
                    background: $text-color;
                    background-image: linear-gradient(transparentize($brand-color,0.5) 19%, transparentize($brand-complement,0.2) 81%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-style: normal;
                    font-weight: $heading-font-weight;
                    padding-right: 3px;
                    margin-right: -3px;
            }
        }
    
        p {
            @include largeType;
            z-index: 1;
            &:last-of-type {
                z-index: 2;
                margin-bottom: 0;
            }
        }
        .scrollhint {
            @media (orientation: landscape) {
                display: block;
            }
        }

        $crane-size: 25vw;
        $crane-color: $text-color;
        @media (orientation: landscape) {
            h1,h2,p.bio {
                box-sizing: border-box;
                padding-right: calc($crane-size + $spacer-horizontal);
            }
        }

        &:before {
            @media (prefers-color-scheme: light) {
                filter: url("#noiseFilter") opacity(20%);
            }
        }

        // add a mesh gradient background
        & {
            background-repeat: no-repeat;
            // background-attachment: fixed;
            background-size: 100% 100%;

            // trying to add just a light brush of color.
            background-color: $body-background;
            background-image:
            radial-gradient(ellipse 81% 119% at 10% -19%, transparentize($brand-accent,0.7) 0%, transparent 100%),
            conic-gradient(from 0.015turn at 0% 119%, transparent 0%, transparentize($brand-color,0.85) 12.5%, transparent 25%, transparent 99%),
            radial-gradient(ellipse 100% 100% at 100% 81%, transparentize($brand-complement,0.8) 0px, transparent 100%),
            conic-gradient(from 0.68turn at 119% 19%, transparent 0%, transparentize($brand-color,0.85) 5%, transparent 10%, transparent 99%),
            ;
        }

    }

    .project-list {
        @include fullWidth();
        padding: 0 $spacer-horizontal;

        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (orientation: landscape) {
            grid-template-columns: 1fr 1fr 1fr;
        }


        h2 {
            display: none;
            text-align: center;
        }

        .project {
            flex-direction: column-reverse;
            justify-content: flex-end;

            header p {
                display: none;
            }
            h3 {
                margin: 0;
            }
            figure,p.figure {
                img {
                    height: calc((100vw - ($spacer-horizontal * 3))/2);
                    @media (orientation: landscape) {
                        height: calc((100vw - ($spacer-horizontal * 4))/3);
                    }
                }                
            }
            
        }
    }
}

