@use '_colors.scss';
@use '_grid.scss';
@use '_type.scss';
@use '_variables.scss';

body.home {
    #header {
        position: absolute;
        background: transparent;
    }
    #masthead {
        background: colors.$body-background;
        color: colors.$text-primary;
        justify-content: center;
        @media (orientation: landscape) {
            min-height: calc(81vh);
            height: auto;
        }
        @media (orientation: portrait) {
            padding-top: (grid.$gutter + $navbar-height);
        }
        h1,p {
            color: colors.$text-tertiary;
        }
        h1 {
            & > em {
                    color: colors.$brand-color;
                    background: colors.$text-primary;
                    background-image: linear-gradient(transparentize(colors.$brand-accent,0.5) 19%, transparentize(colors.$brand-color,0.2) 81%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-style: normal;
                    padding-right: 3px;
                    margin-right: -3px;
            }
            & > strong {
                    color: colors.$brand-complement;
                    background: colors.$text-primary;
                    background-image: linear-gradient(transparentize(colors.$brand-color,0.5) 19%, transparentize(colors.$brand-complement,0.2) 81%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-style: normal;
                    font-weight: $heading-font-weight;
                    padding-right: 3px;
                    margin-right: -3px;
            }
        }

        .scrollhint {
            @media (orientation: landscape) {
                display: block;
            }
        }

        $crane-size: 10vw;
        $crane-color: colors.$text-primary;
        @media (orientation: landscape) {
            h1,h2,p.bio {
                max-width: grid.$width;
                margin: 0 auto;
            }
        }
        @media (orientation: portrait) {
            padding-right: 0;
        }

        &:before {
            @media (prefers-color-scheme: light) {
                filter: url("#noiseFilter") opacity(20%);
            }
        }

        // add a mesh gradient background
        & {
            background-repeat: no-repeat;
            // background-attachment: fixed;
            background-size: 100% 100%;

            // trying to add just a light brush of color.
            background-color: colors.$body-background;
            background-image:
            radial-gradient(ellipse 81% 119% at 10% -19%, transparentize(colors.$brand-accent,0.7) 0%, transparent 100%),
            conic-gradient(from 0.015turn at 0% 119%, transparent 0%, transparentize(colors.$brand-color,0.85) 12.5%, transparent 25%, transparent 99%),
            radial-gradient(ellipse 100% 100% at 100% 81%, transparentize(colors.$brand-complement,0.8) 0px, transparent 100%),
            conic-gradient(from 0.68turn at 119% 19%, transparent 0%, transparentize(colors.$brand-color,0.85) 5%, transparent 10%, transparent 99%),
            ;
        }

    }

    .project-list {
        @include fullWidth();
        padding: grid.$gutter;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (orientation: landscape) {
            grid-template-columns: repeat(3, 1fr);
        }


        h2 {
            display: none;
            text-align: center;
        }

        .project {
            flex-direction: column-reverse;
            justify-content: flex-end;

            header p {
                display: none;
            }
            h3 {
                margin: 0;
            }
            figure,p.figure {
                img {
                    height: calc((100vw - (grid.$gutter * 3))/2);
                    @media (orientation: landscape) {
                        height: calc((100vw - (grid.$gutter * 4))/3);
                    }
                }                
            }
            
        }
    }
}

