@use 'sass:color';
@use 'sass:math';
@use '_colors.scss';
@use '_variables.scss';
@use '_mixins.scss';

#masthead {

    @include mixins.fullWidth(100vw);
    padding: variables.$gutter variables.$gutter;
    height: calc(100vh - variables.$navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;

    @include mixins.hero();
    &:before {
        filter: none;
    }

    h1,h2,h3 {
        z-index: 2;
        margin-top: 0;
    }
    h1 + p {
        margin-bottom: 0em;
    }
    .summary {
        // color: var(--well-bold-color);
    }

    figure {
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0 - variables.$navbar-height;
        left: 0;
        right: 0;
        z-index: -1;
        margin: 0;
        overflow: hidden;

        img,video {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
        }
        video::-webkit-media-controls-fullscreen-button {
            display: none !important;
        }
        figcaption,caption {
            position: absolute;
            right: variables.$gutter;
            bottom: variables.$gutter;
            text-shadow: 0 1px 4px rgba(0,0,0,0.8);
            color: var(--well-bold-color);
        }
    }

    @media (max-width: variables.$breakpoint) {
        min-height: 56.25vw;
        height: auto;
    }

    p:has(.scrollhint),p.scrollhint {
        $size: 3rem;

        width: $size;
        height: $size;
        @media (min-width: variables.$breakpoint) {
            position: absolute;
            left: calc(50% - math.div($size, 2));
            bottom: variables.$gutter;
        }
        margin: 0 auto;
        z-index: 10;
        &:hover {
            cursor: pointer;
        }
        a,svg {
            display: block;
            width: $size;
            height: $size;
        }
    }

}// end masthead
