#masthead {

    @include fullWidth(100vw);

    margin-bottom: $spacerVertical;
    padding: $spacerVertical calc((100vw - $gridWidth)/2);
    height: calc(100vh - $navbarHeight);
    flex-direction: column;
    justify-content: center;

    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;

    background: $heroUnitBackground;
    color: $heroUnitLeadColor;

    h1,h2,h3 {
        color: $heroUnitHeadingColor;
        z-index: 2;
    }
    a {
        color: $heroUnitLeadColor;
    }
    h1 + p {
        margin-bottom: 0em;
    }

    figure {
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0 - $navbarHeight;
        left: 0;
        right: 0;
        z-index: -1;
        margin: 0;
        overflow: hidden;

        img,video {
            height: 100%;
            object-fit: cover;
            opacity: 0.80;
        }
        video::-webkit-media-controls-fullscreen-button {
            display: none !important;
        }
        figcaption,caption {
            position: absolute;
            right: $spacerHorizontal;
            bottom: $spacerVertical;
            text-shadow: 0 1px 4px rgba(0,0,0,0.8);
            color: $white;
        }
    }

    @media (orientation: portrait) {
        height: auto;
        padding: $spacerVerticalPhone $spacerHorizontalPhone 0;
    }

    p:has(.scrollhint),p.scrollhint {
        $size: 3rem;

        width: $size;
        height: $size;
        @media (orientation: landscape) {
            position: absolute;
            left: calc(50% - math.div($size, 2));
            bottom: $spacerVertical;
        }
        @media (orientation: portrait) {
        }
        margin: 0 auto;
        z-index: 10;
        &:hover {
            cursor: pointer;
        }
        a,svg {
            display: block;
            width: $size;
            height: $size;
        }
    }

}// end masthead
