@use 'sass:math';

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Opacity
@mixin opacity($opacity) {
  opacity: math.div($opacity, 100);
  filter: "alpha(opacity=#{$opacity})";
}

// Border Radius
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Drop shadows
@mixin box-shadow($shadow) {
  // -webkit-box-shadow: $shadow;
  //    -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Gradients
#gradient {
  @mixin horizontal($startColor: #555, $endColor: #333) {
    background-color: $endColor;
    background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to right, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
  }
  @mixin vertical($startColor: #555, $endColor: #333) {
    // background-color: mix($startColor, $endColor, 60%);
    background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
  }
  @mixin directional($startColor: #555, $endColor: #333, $deg: 45deg) {
    background-color: $endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient($deg, $startColor, $endColor); // Standard, IE10
  }
  @mixin horizontal-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
    background-color: mix($midColor, $endColor, 80%);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $midColor $colorStop, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $midColor $colorStop, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $midColor $colorStop, $endColor);
    background-image: linear-gradient(to right, $startColor, $midColor $colorStop, $endColor);
    background-repeat: no-repeat;
  }

  @mixin vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
    background-color: mix($midColor, $endColor, 80%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
    background-image: -webkit-linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-image: -moz-linear-gradient(top, $startColor, $midColor $colorStop, $endColor);
    background-image: -o-linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-repeat: no-repeat;
  }
  @mixin radial($innerColor: #555, $outerColor: #333) {
    background-color: $outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
    background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
    background-repeat: no-repeat;
  }
  @mixin striped($color: #555, $angle: 45deg) {
    background-color: $color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }
}

@mixin bg-fill($bg:$body-background,$text:$text-color) {
  background: $bg;
  p,li,dd {color: $text;}
  h1,h2 { color:saturate(darken($bg,33%),10%);}
  h3,h4,h5,dt { color:saturate(darken($bg,-40%),-25%);}
  // a {color:saturate(darken($text-color,20%),-10%);}
}

@mixin neon($neonColor:$brand-color) {
  text-shadow:
    0 0 7px #fff,
    0 0 10px $neonColor,
    0 0 21px #fff,
    0 0 42px $neonColor,
    0 0 82px $neonColor,
    0 0 92px $neonColor,
    0 0 102px $neonColor,
    0 0 151px $neonColor;
}


@mixin transpose_table {
    &,tbody {
        display: flex;
        flex-direction: row;
    }
    thead > tr,tbody > tr {
        display: flex;
        flex-direction: column;
        flex-grow: 10;
        height: 100%;
    }
    th {
        border-width: 0 1px 0 0;
    }
    th,td {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 1em .5em;
    }
}


@mixin flexColumns ($cols:2) {
  flex: 1 0 math.div(100%, $cols);
}

@mixin fullWidth($limit:100vw) {
    width: $limit;

    @media (min-width: $grid-width) {
        margin-left: calc(($limit - $grid-width) * -0.5);
    }

    @media (orientation: portrait) {
        margin-left: ($spacer-horizontal * -1);
    }
}
@mixin fullHeight($limit:calc(100vh - $navbar-height)) {
  height: $limit;
  max-height: $limit;
}

@mixin inverse {
    position: relative;
    overflow: hidden;
    background-color: $hero-background;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-attachment: fixed;
    background-image:
    radial-gradient(ellipse 81% 119% at 10% -19%, transparentize($brand-accent,0.8) 0%, transparent 100%),
    radial-gradient(ellipse 100% 100% at 100% 81%, transparentize($brand-complement,0.8) 0px, transparent 100%),
    conic-gradient(from 0.025turn at 0% 119%, transparent 0%, transparentize($brand-color,0.8) 12.5%, transparent 25%, transparent 99%),
    conic-gradient(from 0.66turn at 119% 8%, transparent 0%, transparentize($brand-color,0.8) 5%, transparent 10%, transparent 99%),
    ;

    color: $hero-text-color;
    h1,h2,h3,h4,a {
      color: $hero-bold-color;
      &:hover {
        color: $hero-text-color;
      }
    }

   &:before {
        content: "";
        // width: 100vw;
        // height: 100vh;
        width: 100%;
        height: 100%;
        // width: 3160px;
        // height: 2400px;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -1;
        filter: url(#noiseFilter) opacity(10%);
    }
    &>* {
      // position: relative;
      z-index: 1;
    }
}


@function encodecolor($string) {
  @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
  @return $string;
}
