@use 'sass:math';

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Opacity
@mixin opacity($opacity) {
  opacity: math.div($opacity, 100);
  filter: "alpha(opacity=#{$opacity})";
}

// Border Radius
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Drop shadows
@mixin box-shadow($shadow) {
  // -webkit-box-shadow: $shadow;
  //    -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Gradients
#gradient {
  @mixin horizontal($startColor: #555, $endColor: #333) {
    background-color: $endColor;
    background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to right, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
  }
  @mixin vertical($startColor: #555, $endColor: #333) {
    // background-color: mix($startColor, $endColor, 60%);
    background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
  }
  @mixin directional($startColor: #555, $endColor: #333, $deg: 45deg) {
    background-color: $endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient($deg, $startColor, $endColor); // Standard, IE10
  }
  @mixin horizontal-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
    background-color: mix($midColor, $endColor, 80%);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $midColor $colorStop, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $midColor $colorStop, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $midColor $colorStop, $endColor);
    background-image: linear-gradient(to right, $startColor, $midColor $colorStop, $endColor);
    background-repeat: no-repeat;
  }

  @mixin vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
    background-color: mix($midColor, $endColor, 80%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
    background-image: -webkit-linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-image: -moz-linear-gradient(top, $startColor, $midColor $colorStop, $endColor);
    background-image: -o-linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-repeat: no-repeat;
  }
  @mixin radial($innerColor: #555, $outerColor: #333) {
    background-color: $outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
    background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
    background-repeat: no-repeat;
  }
  @mixin striped($color: #555, $angle: 45deg) {
    background-color: $color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }
}

@mixin bg-fill($bg:$bodyBackground,$text:$textColor) {
  background: $bg;
  p,li,dd {color: $text;}
  h1,h2 { color:saturate(darken($bg,33%),10%);}
  h3,h4,h5,dt { color:saturate(darken($bg,-40%),-25%);}
  // a {color:saturate(darken($textColor,20%),-10%);}
}

@mixin neon($neonColor:$brandColor) {
  text-shadow:
    0 0 7px #fff,
    0 0 10px $neonColor,
    0 0 21px #fff,
    0 0 42px $neonColor,
    0 0 82px $neonColor,
    0 0 92px $neonColor,
    0 0 102px $neonColor,
    0 0 151px $neonColor;
}


@mixin transpose_table {
    &,tbody {
        display: flex;
        flex-direction: row;
    }
    thead > tr,tbody > tr {
        display: flex;
        flex-direction: column;
        flex-grow: 10;
        height: 100%;
    }
    th {
        border-width: 0 1px 0 0;
    }
    th,td {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 1em .5em;
    }
}


@mixin flexColumns ($cols:2) {
  flex: 1 0 math.div(100%, $cols);
}

@mixin fullWidth($limit:100vw) {
    width: $limit;
    margin-right: auto;
    display: block;

    @media (min-width: $gridWidth) {
        margin-left: calc(($limit - $gridWidth) * -0.5);
    }

    @media (orientation: portrait) {
        margin-left: ($spacerHorizontal * -1);
    }
}
@mixin fullHeight($limit:calc(100vh - $navbarHeight)) {
  height: $limit;
  max-height: $limit;
}

// @mixin span ($s:1) {
//   width: ($s * $gridColumnWidth) + (($s - 1) * $gridGutterWidth);
//   margin: $spacerVertical 0 $spacerVertical $gridGutterWidth;
//   float: left;
//   &:first-of-type {
//     margin-left: 0;
//   }
// }

// @function hsl-str($color) {
//   @return unquote("hsl(#{hue($color)}, #{saturation($color)}, #{lightness($color)})");
// }

@function decToHex($dec) {
    $hex: "0123456789ABCDEF";
    $first: math.div(($dec - $dec % 16),16)+1;
    $second: ($dec % 16)+1;
    @return str-slice($hex, $first, $first) + str-slice($hex, $second, $second)
}
@function hslToHex($h,$s,$l) {
  $r: decToHex(red(hsl($h,$s,$l)));
  $g: decToHex(green(hsl($h,$s,$l)));
  $b: decToHex(blue(hsl($h,$s,$l)));
  @return ##{$r+$g+$b};
}
