@use 'sass:math';
@use '_colors.scss';
@use '_grid.scss';
@use '_animation.scss';

body.photos {
    $thumbSize: 6vh;
    #header {
         scroll-snap-align: start;
    }
    footer {
        scroll-snap-align: end;
    }
    #main {
        padding: 0;
    }
    #masthead {
        height: calc(100vh - $navbar-height - $thumbSize);
    }
    section.gallery {
        position: relative;
        padding: 0;

        &>p {
            scroll-snap-align: center;
            display: block;
            height: 100vh;
            box-sizing: border-box;
            padding: $thumbSize 0 ($thumbSize * 2) 0;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    nav#thumbnails {
        position: fixed;
        z-index: 5;
        background: colors.$well-background;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        bottom: 0;
        left: 0;
        height: $thumbSize;
        text-align: center;
        white-space: nowrap;

        display: flex;
        flex-direction: row;
        justify-content: center;

        &>a,.thumbnail {
            display: block;
            padding: .25vh 0.125vh;
            box-sizing: border-box;
            height: $thumbSize;
            opacity: 68;
            transition: all animation.$speed animation.$easing;
            img {
                height: 100%;
                width: auto;
                box-sizing: border-box;
                border: solid 2px transparent;
                object-fit: contain;
            }

            &.active,&:hover,&:focus {
                opacity: 100;
                transform: scale(1.2);
            }
            &.active {
                img {
                    border-color: colors.$brand-complement;
                }
            }

        }
    }

}



//tablets & phones
@media (max-width: grid.$breakpoint-portrait-1) {
    .gallery {
        .detail {
            height: 100vw;
            &>img {
            }
        }
    }
}