body.portfolio.list {
    #main {
    }
}


.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    column-gap: ($spacerHorizontal * 2);
    row-gap: 0;

    &>h2 {
        flex: 1 0 100%;
    }

    &>p {
        flex: 1 0 100%;
    }

    .project {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        justify-content: center;
        margin: $spacerVertical 0;

        @media (orientation: portrait) {
            flex: 1 0 calc(50% - $spacerHorizontal);
        }
        @media (max-width: $breakpointPhone) {
            flex: 1 0 100%;
        }
        header {
            // display: none;
            h3 {
                // margin: 0;
                text-align: center;
            }
            p {
                @include smallType;
                margin-bottom: 0;
                color: $textOffColor;                
            }
            p.timeline{
                display: none;
            }
        }
        figure {
            width: 100%;
            margin: 0;
            padding: 0;
            border-radius: .5rem;
            // box-shadow: 0 2px 8px $shadowColor, 0 8px 24px $shadowColor;
            transform: scale(1);
            background: transparent;
            transition: all $animateSpeed $animateEasing;
            a {
                display: block;
            }
            img {
                border-radius: 1rem;
                display: block;
                width: 100%;
                // height: 80vh;
                object-fit: contain;
                box-sizing: border-box;
                filter: saturate(100%);
                transition: all $animateSpeed $animateEasing;
                transform: scale(1);
                @media (orientation: portrait) {
                    height: auto;
                }
            }
        }

        &:hover {
            z-index: 3;
            figure {
                transform: scale(1.05);
            }
            img {
                filter: saturate(150%);
            }           
        }

        &.full {
            flex-direction: row-reverse;
            // min-height: 13.25vw;
            align-items: center;
            overflow: visible;
            flex: 1 0 100%;
            height: auto;
            column-gap: $spacerHorizontal;
            row-gap: $spacerVertical;

            @media (orientation: portrait) {
                flex-direction: column-reverse;
            }


            &>header {
                display: block;
                // margin-left: $spacerHorizontal;
                h2,h3 {
                    text-align: left;
                    margin-bottom: 0;
                }
                flex-basis: 38%;
            }
            &>figure {
                flex-basis: 62%;
                // img {
                //     object-fit: cover;
                // }
            }
        }

    }
}

body.project {
    @include item-detail();

    h1,h2,h3,h4 {
        padding: 1.5rem 0 0 0;
    }

    #masthead {
    }
    #main {
        &>h1 {
            margin-top: ($spacerVertical * 2);
            &+p {
                margin-bottom: ($spacerVertical * 2);

            }
        }
    }
    @media (orientation: portrait) {
        #scrollhint {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        img[src$=".svg"] {
            filter: contrast(0.01) brightness(2);
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em,2fr));
    grid-gap: 1em;
    li,.card,details {
        // @include card();
        list-style: none;
        margin: 0;
    }

}



h2.section {
    @include fullWidth();
    justify-content: center;
    align-items: center;
    height: 62vh;
    color: $white;
    position: relative;
    &:before {
        filter: brightness(0.8);
        content: "";
        background-size: cover;
        background-position: center center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
