body.portfolio.list {
    #main {
    }
}


.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    grid-row-gap: $spacer-vertical;
    grid-column-gap: $spacer-horizontal;

    &>h2 {
        flex: 1 0 100%;
    }

    &>p {
        flex: 1 0 100%;
    }

    .project {
        display: flex;
        justify-content: center;
        transition: all $animation-speed $animation-easing;

        header {
            // display: none;
            h3 {
                // margin: 0;
                text-align: center;
            }
            p {
                // @include small-type;
                margin-bottom: 0;
                color: $text-color-subdued;                
            }
            p.timeline{
                display: none;
            }
        }
        figure,p.figure {
            margin: 0;
            padding: 0;
            border-radius: ($border-radius * 2);
            overflow: hidden;
            background: $well-background;

            filter: saturate(100%);
            box-shadow: none;
            transition: all $animation-speed $animation-easing;

            a {
                display: block;
            }
            img {
                display: block;
                object-fit: cover;
                box-sizing: border-box;
            }
        }

        &:hover {
            z-index: 3;
            transform: scale(1.05);
            figure,p.figure {
                filter: saturate(1.5) contrast(1.2) brightness(1.2);
                box-shadow: $shadow;
            }
            img {
            }           
        }

        &.full {
            flex-direction: row-reverse;
            align-items: center;
            overflow: visible;
            column-gap: $spacer-horizontal;

            @media (orientation: portrait) {
                flex-direction: column-reverse;
            }


            &>header {
                display: block;
                h2,h3 {
                    text-align: left;
                    margin-bottom: 0;
                }
                flex-basis: 38%;
            }
            &>figure,&>.figure {
                flex-basis: 62%;
            }
        }

    }
}

body.project {
    @include item-detail();

    #main {
        display: flex;
        flex-direction: column;
        p.summary {
            margin-bottom: ($spacer-vertical * 2);
        }
        h2,h3 {
            margin-top: ($spacer-vertical * 4);
            margin-bottom: ($spacer-vertical * 2);
        }
    }
    @media (orientation: portrait) {
        #scrollhint {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        img[src$=".svg"] {
            filter: contrast(0.01) brightness(2);
        }
    }
}



h1.section,h2.section {
    @include fullWidth();
    padding: $spacer-vertical $grid-margin;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 83.3vh;
    color: $well-bold-color;
    position: relative;
    &:before {
        filter: brightness(0.8);
        content: "";
        object-fit: cover;
        background-size: 120%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
