@use 'sass:math';
@use '_colors.scss';
@use '_grid.scss';
@use '_variables.scss';
@use '_animation.scss';

body.portfolio.list {
    #main {
    }
}


.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    grid-row-gap: grid.$gutter;
    grid-column-gap: grid.$gutter;

    &>h2 {
        flex: 1 0 100%;
    }

    &>p {
        flex: 1 0 100%;
    }

    .project {
        display: flex;
        justify-content: center;
        transition: all animation.$speed animation.$easing;

        header {
            // display: none;
            h3 {
                // margin: 0;
                text-align: center;
            }
            p {
                // @include small-type;
                margin-bottom: 0;
                color: colors.$text-secondary;                
            }
            p.timeline{
                display: none;
            }
        }
        figure,p.figure {
            margin: 0;
            padding: 0;
            border-radius: variables.$border-radius-xl;
            overflow: hidden;
            background: colors.$well-background;

            filter: saturate(100%);
            box-shadow: none;
            transition: all animation.$speed animation.$easing;

            a {
                display: block;
            }
            img {
                display: block;
                object-fit: cover;
                box-sizing: border-box;
            }
        }

        &:hover {
            z-index: 3;
            figure,p.figure {
                transform: scale(1.01);
                filter: saturate(1.2) contrast(1.1) brightness(1.1);
                box-shadow: $shadow;
            }
            img {
            }           
        }

        &.full {
            flex-direction: row-reverse;
            align-items: center;
            overflow: visible;
            column-gap: grid.$gutter;

            @media (orientation: portrait) {
                flex-direction: column-reverse;
            }


            &>header {
                display: block;
                h2,h3 {
                    text-align: left;
                    margin-bottom: 0;
                }
                flex-basis: 38%;
            }
            &>figure,&>.figure {
                flex-basis: 62%;
            }
        }

    }
}

body.project {
    @include item-detail();

    #main {
        display: flex;
        flex-direction: column;
        p.summary {
            margin-bottom: (grid.$gutter * 2);
        }
        h2,h3 {
            margin-top: (grid.$gutter * 4);
            margin-bottom: (grid.$gutter * 2);
        }
    }
    @media (orientation: portrait) {
        #scrollhint {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        img[src$=".svg"] {
            filter: contrast(0.01) brightness(2);
        }
    }

    #lightbox {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 100;
        background: #000000cc;
        padding: grid.$gutter grid.$gutter;
        box-sizing: border-box;
        &.in {
            display: block;
        }
        img {
            height: 100%;
            object-fit: contain;
        }
    }

}



h1.section,h2.section {
    @include fullWidth();
    padding: grid.$gutter grid.$margin;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 83.3vh;
    color: colors.$hero-text-color;
    position: relative;
    &:before {
        filter: brightness(0.8);
        content: "";
        object-fit: cover;
        background-size: 120%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
