
/* ==================================================
these are mixins that are used to set up the blog, 
portfolio, and gallery pages.
================================================== */

@mixin item-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    article,&>ul li {
    	list-style: none;
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	    cursor: pointer;
	    position: relative;
	    z-index: 2;
    	// overflow: hidden;

        h1,h2 {
            margin-bottom: 0;
        }

        figure {
        	padding: 0;
        	margin: 0 auto 0 auto;
        	width: 100%;
        	height: 100%;
			z-index: -1;
            background: $heroUnitBackground;
        }

    }	
}
@mixin item-detail {
	main,#main {
        padding-top: 0;
        p {
            &>img,&>svg,&>video {
                &.canzoom {
                    @include transition(all $animateSpeed $animateEasing);
                    &:hover {
                        cursor: zoom-in,
                    }
                }
                &.zoom {
                    @include fullWidth(100vw);
                    max-height: 100vh;
                    &:hover {
                        cursor: zoom-out;
                    }
                }
            }
            img.fullwidth,svg.fullwidth,video.fullwidth {
                max-height: 95vh;
                object-fit: cover;
            }
        }
        .pullleft {
            @media (orientation: landscape) {
                // width: 62%;
                // margin-left: (0 - $gridMargin);
                width: 38%;
                margin-right: $spacerHorizontal;
                float: left;
            }
        }
        .pullright {
            @media (orientation: landscape) {
                // width: 62%;
                // margin-right: (0 - $gridMargin);
                width: 38%;
                margin-left: $spacerHorizontal;
                float: right;
            }
        }
        iframe {
            // .fullWidth(calc(90vh / .62)),
            // height: 90vh,
        }
        // table {
        //     m
        //     overflow-x: scroll,
        // }
	}
}

nav.pagination {
    clear: both;
    padding: $spacerVertical 0;

	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;

	a {
		text-transform: inherit;
		display: block;
	}
	@media (max-width: $breakpointPortrait-1) {
		flex-direction: column-reverse;
	}
}

p.gallery,div.gallery-wrap {
    @include fullWidth(100vw);
    display: block;
    margin-bottom: $spacerVertical;
    background: $wellBackground;
    overflow: auto;//this prevents collapsing margins

    .image-detail {
        width: auto;
        height: calc(84vh - ($spacerVertical * 1));
        padding: 0;
        margin: ($spacerVertical * 0.5) auto;
        display: block;

        @media (orientation: portrait) {
            max-height: 62vw;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 0 0 ($spacerVertical * 0.25);
        padding: 0;

        overflow-x: scroll;
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:horizontal {
            height: ($spacerVertical * 0.25);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $spacerVertical;
            border: 2px solid $wellBackground; /* should match background, can't be transparent */
            background-color: $brandColor20;
        }
        &::-webkit-scrollbar-track { 
            background-color: $wellBackground; 
        } 

        li {
            list-style: none;
            margin: 0 ($spacerHorizontal * 0.5);
			color: $textOffColor;
			@include smallType();
            img {
                display: block;
                height: calc(16vh - ($spacerVertical * 0.5));
                width: auto;
                object-position: top center;
                object-fit: cover;
                padding: 0;
                margin: 0;
            }
            p {
                margin: 0;
                display: none;
            }
        }
    }

    position: relative;
    a.next,a.prev {
        &:before {
            content: "";
            display: block;
            width: 2rem;
            height: 2rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53 20'%3E%3Cpolygon points='26.5,17.688 9.114,3.779 10.303,2.312 26.5,15.269 42.697,2.313 43.886,3.779' fill='currentColor' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center center;
        }
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        position: absolute;
        top: calc(50% - 1rem);
    }
    a.prev {
        &:before {
            transform: rotate(90deg);
        }
        left: $spacerHorizontal;
    }
    a.next {
        &:before {
            transform: rotate(-90deg);
        }
        right: $spacerHorizontal;
    }
}
