@use 'sass:math';
@use '_colors.scss';
@use '_grid.scss';
// @use '_type.scss';

body.resume {
    main {
        margin-top: grid.$gutter;
    }
    p,li {
        font-family: $serif-font-family;
        font-weight: $serif-font-weight;
    }
    h3 {
        color: colors.$text-secondary;
        clear: both;
    }
    h4 {
        // @include typeset($heading-font-family, $bold-font-weight, (1rem * pow(type.$scale,0)), 1.2, -0.0125em);
        text-transform: inherit;
    }
    h5 {
        font-size: 120%;
    }
    h4,h5 {
        margin-top: 0;
    }
    p,h5,ul {
        margin-left: 40%;
    }
    h4,h4+p {
        clear: both;
        float: left;
        width: 36%;
        margin-left: 0;
    }
    .two-col {
        margin-left: 0;
        margin-right: 0;
    }
    ol.stats {
        list-style: none;
        li {
        }
        &+p {
            margin-left: 0;
        }
    }

    hr {
        clear: both;
    }

    #education,.education {
        padding: 1em 1em 0.5em 1em;
        h2,h3, p, strong {
            color: colors.$neutral-100;
        }
        background: #5b0e9c url(/images/nyu-torch.svg) no-repeat center right;
    }
    img.torch {
        display: block;
        width: 3em;
        margin: 0 auto;
    }

    @media (orientation: portrait) {
        h4,h4+p {
            float: none;
            width: auto;
        }
        h3,p,h5,ul,ol {
            margin-left: 0;
        }
    }
}





