@use 'sass:math';

@function decToHex($dec) {
    $hex: "0123456789ABCDEF";
    $first: math.div(($dec - $dec % 16),16)+1;
    $second: ($dec % 16)+1;
    @return str-slice($hex, $first, $first) + str-slice($hex, $second, $second)
}
@function hslToHex($h,$s,$l) {
  $r: decToHex(red(hsl($h,$s,$l)));
  $g: decToHex(green(hsl($h,$s,$l)));
  $b: decToHex(blue(hsl($h,$s,$l)));
  @return ##{$r+$g+$b};
}

// COLOR
// -------------------------
$_indigo:               #1e22a9;//hsl(238,70%,39%);
$_rose:                 hsl(340,70%,70%);//
$_pink:                 #ff6699;//hsl(340, 100%,70%);//
$_sunshine:             #e6de00;//hsl(58, 100%, 45%);//
$_cyan:              	hsl(180,100%,50%);
$_teal:                 #00b1cc;//hsl(188,100%,40%);//
$_orange:               #FF4F00;//international orange

// SEMANTIC MAPPING
$brand-color:            $_indigo;
$brand-accent:           $_pink;
$brand-complement:       $_orange;

$neutral-100:          hslToHex(hue($brand-color),00%,100%);
$neutral-95:           hslToHex(hue($brand-color),01%,96%);
$neutral-90:           hslToHex(hue($brand-color),01%,91%);
$neutral-80:           hslToHex(hue($brand-color),02%,82%);
$neutral-70:           hslToHex(hue($brand-color),02%,71%);
$neutral-60:           hslToHex(hue($brand-color),03%,62%);
$neutral-50:           hslToHex(hue($brand-color),05%,50%);
$neutral-40:           hslToHex(hue($brand-color),08%,42%);
$neutral-30:           hslToHex(hue($brand-color),13%,31%);
$neutral-20:           hslToHex(hue($brand-color),21%,20%);
$neutral-10:           hslToHex(hue($brand-color),34%,12%);
$neutral-05:           hslToHex(hue($brand-color),55%,04%);
$neutral-0:            hslToHex(hue($brand-color),89%,02%);

:root {
    --black:            #{$neutral-10};
    --gray-dark:        #{$neutral-30};
    --gray-mid:         #{$neutral-50};
    --gray-light:       #{$neutral-80};
    --white:            #{$neutral-100};
    --white-semi:       #{$neutral-100}54;
    --brand-color:      #{$brand-color};
    --brand-complement: #{$brand-complement};
    --brand-accent:     #{$brand-accent};
}
@media (prefers-color-scheme: dark) {
    :root {
        --black:        #{$neutral-100};
        --gray-dark:    #{$neutral-80};
        --gray-mid:     #{$neutral-50};
        --gray-light:   #{$neutral-30};
        --white:        #{$neutral-10};
        --white-semi:   #{$neutral-10}54;
    };
}


// TYPE
// -------------------------
$text-color:             var(--gray-dark);
$text-color-bold:        var(--black);
$text-color-subdued:     var(--gray-mid);
$link-color:             var(--black);
$link-color-hover:       var(--gray-dark);
$selection-color:        $brand-accent;
$on-brand-color: 		 $neutral-100;

// Scaffolding
// -------------------------
$body-background:       var(--white);
$border-color: 			var(--gray-light);
$card-background:       var(--white);
$card-text-color:       var(--gray-dark);
$card-bold-color:       var(--black);
$well-background:    	var(--black);
$well-text-color:     	var(--gray-light);
$well-bold-color:  		var(--white);


// Navbar
// -------------------------
$navbar-background:                	var(--white-semi);
$navbar-background-highlight:      	transparent;
$navbar-border:                    	none;//.0125rem solid var(--gray-light);
$navbar-text:                      	$text-color;
$navbar-brand-color:                $brand-color;
$navbar-link-color:                 $link-color;
$navbar-link-hover-color:           var(--gray-light);
$navbar-link-hover-background:      var(--gray-dark);
$navbar-link-active-color:          var(--white);
$navbar-link-active-background:     var(--black);


// GRID
// --------------------------------------------------
$spacer-horizontal:          	1rem;
$spacer-vertical:            	2rem;

$grid-columns:             		6;
$grid-width:               		40rem;
$grid-padding:         			$spacer-horizontal;
$grid-column:         			math.div(($grid-width - (($grid-columns - 1) * $grid-padding)), $grid-columns);
$grid-margin: 			  		calc((100vw - $grid-width) / 2);

$breakpoint-widescreen:      	1201px;
$breakpoint-widescreen-1:    	($breakpoint-widescreen - 1px);
$breakpoint-desktop:         	961px;
$breakpoint-desktop-1:       	$breakpoint-desktop - 1;
$breakpoint-portrait:        	769px;
$breakpoint-portrait-1:      	$breakpoint-portrait - 1;
$breakpoint-phone:           	480px;

$input-height:               	1.25rem;
$navbar-height:              	2rem;
$border-radius: 				$spacer-horizontal * 0.25;

$shadow-color: 				hsla(hue($brand-color), 100%, 12%, 0.2);
$shadow-depth: 				$spacer-vertical;
$shadow-offset: 				math.div($shadow-depth, 4);
$shadow: 0 $shadow-offset $shadow-depth $shadow-color;


// ANIMATION
// --------------------------------------------------
$easeBounce:      cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeGetSet:      cubic-bezier(0.955, -1.00, 0.850, 0.490);
$easeInQuart:     cubic-bezier(0.500, 0.000, 0.750, 0.000);
$easeOutQuart:    cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutCubic:    cubic-bezier(0.33, 1, 0.68, 1);
$easeInOutQuart:  cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuad:	cubic-bezier(0.45, 0, 0.55, 1);
$easeInOutCubic:	cubic-bezier(0.65, 0, 0.35, 1);
$easeInOutBack: 	cubic-bezier(0.68, -0.6, 0.32, 1.6);

$animation-speed:      800ms;
$animation-easing:     $easeOutCubic;
