@use 'sass:math';
@use '_colors.scss';

body.colophon {
	.chip {
		width: 19%;
		height: 4.5em;
		padding: .25em;
	    box-sizing: border-box;
		display: inline-block;

		&.black {
			background: var(--black);
			color: var(--gray-light);
		}
		&.gray-dark {
			background: var(--gray-dark);
			color: var(--gray-light);
		}
		&.gray-mid {
			background: var(--gray-mid);
			color: var(--gray-light);
		}
		&.gray-light {
			background: var(--gray-light);
		}
		&.white {
			background: var(--white);
			box-shadow: inset 0 0 0 1px var(--gray-light);
		}
		&.primary {
			background: var(--primary);
			color: var(--on-primary);
		}
		&.complement {
			background: var(--tertiary);
			color: var(--on-primary);
		}
		&.accent {
			background: var(--secondary);
			color: var(--on-primary);
		}
		&.success {
			background: var(--success);
			color: var(--on-primary);
		}
		&.error {
			background: var(--error);
			color: var(--on-primary);
		}
		&.primary80 {
			background: transparentize(colors.$primary,0.2);
			color: transparent;
		}
		&.complement80 {
			background: transparentize(colors.$tertiary,0.2);
			color: transparent;
		}
		&.accent80 {
			background: transparentize(colors.$secondary,0.2);
			color: transparent;
		}
		&.primary20 {
			background: transparentize(colors.$primary,0.8);
			color: var(--gray-light);
			color: transparent;
		}
		&.complement20 {
			background: transparentize(colors.$tertiary,0.8);
			color: transparent;
		}
		&.accent20 {
			background: transparentize(colors.$secondary,0.8);
			color: transparent;
		}
	}
}