@use 'sass:color';
@use '_colors.scss';
@use '_variables.scss';
@use '_mixins.scss';
@import "_masthead.scss";

body.home {
  #header {
    position: absolute;
    background: transparent;

    .logo {
        color: var(--hero-text-color);
        &:hover {
            color: var(--well-text-color);
        }
    }

    #menu {
      a {
        color: var(--hero-text-color);
        &:hover {
          color: var(--link-color);
        }
      }
    }

  }

  #masthead {
    @media (min-width:variables.$breakpoint) {
      min-height: calc(81vh);
      height: auto;
    }

    @media (max-width:variables.$breakpoint) {
      padding-top: (variables.$gutter + variables.$navbar-height);
    }

    @media (min-width:variables.$breakpoint) {
      h1, h2, p.bio {
        max-width: variables.$width;
      }

    }

  }

  #gradient-canvas, #masthead canvas {
    $scaler: 2;
    position: absolute;
    width: 100% * $scaler;
    height: 100% * $scaler;
    left: -50%;
    top: -50%;
    --gradient-color-1:var(--primary);
    --gradient-color-2:var(--secondary);
    --gradient-color-3:var(--primary);
    --gradient-color-4:var(--tertiary);
  }

}

@import 'portfolio.scss';

@import 'blog.scss';
