@use 'sass:math';
@use '_colors.scss';
@use '_grid.scss';
@use '_animation.scss';

@import "./_variables.scss";
@import "./_mixins.scss"; 
@import "./_type.scss";


// ======================================================================
// LAYOUT
body,html {
    // overflow-x: hidden;
}

.fullwidth {
    @include fullWidth(100vw);
}
.fullwidth90 {
    @include fullWidth(90vw);
}
.fullheight {
    @include fullHeight(90vh);
}

h1,h2,h3,h4,h5,
p,ul,ol,dl,blockquote,.blockquote {
    margin: 0 0 1rem 0;
    padding: 0;
}
li, dt {
    margin-left: 1em;
    box-sizing: border-box;
}
body {
    main, #main {
        box-sizing: border-box;
        margin: 0 auto;
        padding: grid.$gutter 0;
        width: grid.$width;

        @media (orientation: portrait) {
            width: 100%;
            padding: 0 grid.$gutter;
            overflow-x: hidden;
        }
    }
}






// ======================================================================
// CORE STYLES

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: colors.$body-background;
    color: colors.$text-primary;
}
h1,h2,h3,h4,h5 {
    color: colors.$text-tertiary;
}
a {
    color: colors.$link-color;
    &:hover {
        color: colors.$link-color-hover;
    }
}
::selection {
    background: colors.$selection-color;
}


// ======================================================================
// MOLECULE STYLES

@mixin card {
    margin: grid.$gutter auto;
    padding: grid.$gutter;
    background: colors.$body-background;
    border: 1px solid colors.$border-color;
    border-radius: math.div(grid.$gutter, 2);
    box-shadow: inset 1px 1px 0px rgba(255,255,255,.08),inset -1px 1px 0px rgba(255,255,255,.05), 0 $shadow-offset $shadow-depth $shadow-color;
}
@mixin well {
    margin: grid.$gutter auto;
    padding: grid.$gutter;
    background: colors.$well-background;
    border-radius: math.div(grid.$gutter, 2);
    // box-shadow: inset 0 $shadow-offset $shadow-depth $shadow-color;
}
.well {
	@include well;
}
.card {
	@include card;
}

blockquote,.blockquote {
    padding: 0 0 0 grid.$gutter;
    margin: grid.$gutter 0 grid.$gutter (grid.$gutter * -1);
    border-left: solid 4px colors.$text-secondary;
    color: colors.$text-secondary;
}

.button, button {
    background: colors.$brand-color;
    color: colors.$card-text-color;
    // border: 1px solid $brand-color;

    padding: .5em 1em;
    border-radius: $border-radius;
    text-decoration: none;
    // box-shadow: 0 8px 24px hsla(hue($brand-color), 50%, 10%, 20%);;
    box-shadow: inset 0px 1px 1px 0px colors.$neutral-100, 0 math.div($shadow-offset, 2) math.div($shadow-depth,2) $shadow-color, 0 $shadow-offset $shadow-depth $shadow-color;

    &:hover {
        color: colors.$well-bold-color;
    }
}

@mixin inverse {
    position: relative;
    overflow: hidden;

    >h1,>h2,>h3,>p,>span {
        color: colors.$well-text-color;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -2;

        background-repeat: no-repeat;
        // background-attachment: fixed;
        background-size: 100% 100%;
        background-color: colors.$well-background;
        background-image:
        radial-gradient(ellipse 81% 119% at 10% -19%, transparentize(colors.$brand-accent,0.8) 0%, transparent 100%),
        radial-gradient(ellipse 100% 100% at 100% 81%, transparentize(colors.$brand-complement,0.8) 0px, transparent 100%),
        conic-gradient(from 0.025turn at 0% 119%, transparent 0%, transparentize(colors.$brand-color,0.8) 12.5%, transparent 25%, transparent 99%),
        conic-gradient(from 0.66turn at 119% 8%, transparent 0%, transparentize(colors.$brand-color,0.8) 5%, transparent 10%, transparent 99%),
        ;
    }
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        filter: url(#noiseFilter) opacity(30%);
    }
}
.inverse {
    @include inverse();
}







// ======================================================================
// ORGANISM STYLES

@import "_header.scss";

@import "_footer.scss";
