@use 'sass:math';
@use 'sass:color';
@use '_colors.scss';
@use '_variables.scss';
@use '_mixins.scss';

// @import "_publishing.scss";

@import "_masthead.scss";

body.blog.post {

	#masthead {
    	p.summary {
    		display: none;
    	}
	    @media (min-width:variables.$breakpoint) {
	    	justify-content: space-between;
	      h1, h2, p {
	        max-width: variables.$width;
	      }
	    }
	}

	.related-posts {
		padding: variables.$gutter-xl 0;
		margin: variables.$gutter-xl 0;
	}

	transition: all (variables.$speed * 4) variables.$easing;

	background: var(--well-background);
	&.scrolled {
		background: var(--body-background);
	}
}
