@use "library" as lib;

@use 'type';
@use 'animation';


// ======================================================================
// CORE STYLES
@use "root";

// ======================================================================
// ATOMIC STYLES
// 1.7K
@use "atoms";

// ======================================================================
// MOLECULE STYLES
//  1.9k

@use "molecules";

// ======================================================================
// ORGANISM STYLES
// 0.6k

@use "components/_header";

@use "components/footer";

ul.nav,ol.nav {
    display: flex;
    flex-direction: row;
    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            padding: 0 1em 0 0;
        }
    }
}

details {
    summary {
        cursor: pointer;
    }
    &[open] {
        summary {
            margin-bottom: lib.$gutter;
        }
        & > summary:before {
            transform: rotate(90deg);
        }
    }
}
.kpi {
  dt, em, i {
    font-style: normal;
  }
  b, strong, dd {
    font-weight: lib.$bold-font-weight;
  }
    em,i,b,strong,code,s,dt,dd {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    em,i,dd+dt {
        color: var(--text-secondary);
        font-size: lib.$small-font-size;
    }
    b,strong,dd {
        color: var(--text-tertiary);
    }
}




// ======================================================================
// LAYOUT
// 1.1K


body,html {
    // overflow-x: hidden;
    overscroll-behavior-x: none;
}

.fullwidth,.fullWidth {
    @include lib.fullWidth(100vw);
}
.fullwidth90 {
    @include lib.fullWidth(90vw);
}
.fullheight {
    @include lib.fullHeight(90vh);
}

h1,h2,h3,h4,h5{
    margin: 1em 0 1rem 0;
    padding: 0;
}
p,ul,ol,dl {
    margin: 0 0 1rem 0;
    padding: 0;
}
li, dt {
    margin-left: 1em;
    box-sizing: border-box;
}
body {
    main {
        box-sizing: content-box;
        max-width: lib.$grid-width;
        margin: 0 auto;
        padding: 0 var(--gutter);

        section {
            margin-bottom: var(--gutter-xl);
        }
    }
}
.grid {
    box-sizing: border-box;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(1em,2fr));
    grid-auto-flow: row;
    grid-gap: lib.$gutter;

    &>* {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
    }
    &.cols2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &.cols3 {
        // grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: lib.$breakpoint) {
        grid-gap: lib.$gutter;
        &[class*="cols"] {
            grid-template-columns: repeat(1, 1fr);        
        }
    }
    .card {
      height: 100%;
    }
}

#noiseImage {
    display: none;
}

