@use '../library' as lib;

body > footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // color: $gray-800;
    overflow: hidden;
    padding: lib.$gutter-xl lib.$gutter;
    margin-top: var(--gutter-xl);
    gap: lib.$gutter;

    // @include lib.hero();
    background: var(--muted-background);

    &>div {
        nav {
            display: flex;
            justify-content: center;
            a {
                margin: 0 (lib.$gutter * 0.5);
            }
        }
        p {
            text-align: center;
            margin-bottom: 0;
        }
    }
    #colophon {
        display: flex;
        flex-direction: column;
        nav {
            justify-content: flex-end;
        }
    }
    #contact {
        nav {
            $itemsize: 1.38rem;

            a {
                font-size: $itemsize;
                line-height: $itemsize;
                width: $itemsize;
                height: $itemsize;
                overflow: hidden;
            }
            img,svg {
                width: 100%;
                height: 100%;
            }
            a.link-linkedin svg {
                filter: saturate(0);
                // filter: hue-rotate(38deg) brightness(0.9);

                //brand hsb: 238 82 66;
                //linkedin hsb: 199/100/73;
            }
            a.link-medium svg {
                filter: invert(100%);
            }
            a.link-strava svg {
                filter: saturate(0);
            }
        }
    }
    @media (max-width: lib.$breakpoint) {
        flex-direction: column;
        #colophon {
            nav {
                justify-content: center;
            }
        }
    }
}
