@use '../library' as lib;


#header {
  box-sizing: border-box;
  z-index: 100;
  padding: 0 var(--gutter);
  height: var(--navbar-height);
  width: 100%;
  background: var(--card-background);
  border: 0 0 0px 0 solid var(--border-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: top lib.$speed lib.$easing;

  @media (max-width:lib.$breakpoint) {
    margin-left: 0;
  }

  a {
  }

  .logo {
    $logo-size: calc(var(--navbar-height) * 0.62);
    width: $logo-size;
    height: $logo-size;
    z-index: 30;
    margin: -0.25em;
    padding: 0.25em;
    overflow: hidden;
    border-radius: var(--border-radius);

    &:hover {
      background: var(--muted-background);
      color: var(--muted-foreground);
    }

  }
  a.nav-top {
    position: fixed;
    z-index: 20;

    color: #{lib.$neutral-100};
    mix-blend-mode: exclusion !important;
    @media (max-width: lib.$breakpoint) {
      display: none;
      
    }
  }

  #menu {
    display: flex;
    margin-right: calc(var(--gutter) * -0.5);

    a {
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      transition: all lib.$speed lib.$easing;
      padding: 0 (lib.$gutter * .5);
      margin: 0 0 0 lib.$gutter;
      border-radius: var(--border-radius);
      text-transform: uppercase;
      text-decoration: none;

      // these are hacks for the Univers font
      line-height: 1;
      padding: .25em .75rem 0;s

      &:hover {
        background: var(--muted-background);
        color: var(--muted-foreground);
      }

      &.nav-cv, &.nav-resume, &.nav-photos {
        display: none;
      }

      @media (max-width:lib.$breakpoint) {
        margin: 0;
      }

    }

  }

}

.active_nav, 
body.about #header #menu a[href="/about/"], 
body.portfolio #header #menu a[href="/portfolio/"], 
body.blog #header #menu a[href="/blog/"], 
body.resume #header #menu a[href="/about/"] {
  background: var(--accent-background);
  color: var(--accent-foreground);
}
