@use '../library' as lib;

#masthead {

    padding: var(--gutter);
    height: calc(100vh - lib.$navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;

    &:before {
        filter: none;
    }

    h1,h2,h3 {
        z-index: 2;
        margin-top: 0;
    }
    h1 + p {
        margin-bottom: 0em;
    }
    .summary {
        // color: var(--well-bold-color);
    }

    figure {
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0 - lib.$navbar-height;
        left: 0;
        right: 0;
        z-index: -1;
        margin: 0;
        overflow: hidden;

        img,video {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.68);
        }
        video::-webkit-media-controls-fullscreen-button {
            display: none !important;
        }
        figcaption,caption {
            position: absolute;
            right: lib.$gutter;
            bottom: lib.$gutter;
            text-shadow: 0 1px 4px rgba(0,0,0,0.8);
            color: var(--well-bold-color);
        }
    }

    p:has(.scrollhint),p.scrollhint {
        $size: 3rem;

        width: $size;
        height: $size;
        margin: 0 auto;
        z-index: 10;

        @media (min-width: lib.$breakpoint) {
            position: absolute;
            left: calc(50% - lib.div($size, 2));
            bottom: lib.$gutter;
        }
        &:hover {
            cursor: pointer;
        }
        a,svg {
            display: block;
            width: $size;
            height: $size;
        }
    }

}// end masthead
