@use '../library' as lib;

#post-list {

    @media (max-width: lib.$breakpoint) {
        margin-top: 0;
    }

    .post {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: lib.$gutter;
        margin-bottom: lib.$gutter-xl;
        transition: all lib.$speed lib.$easing;

        header {
            flex-basis: 100%;
            h3 {
                margin: 0;
                a {
                    transition: color lib.$speed lib.$easing;
                //   color: var(--muted-foreground);
                }
            }
            p {
                color: var(--muted-foreground);
                margin-bottom: 0;
            }
        }
        figure,.figure {
            display: none;
            flex-basis: 25%;
            border-radius: var(--border-radius);
            overflow: hidden;
            margin: 0;
            a {
              display: block;
            }
            img {
              display: block;
              object-fit: cover;
              aspect-ratio: 1.5;
            }
        }

        &:hover {
            cursor: pointer;
            z-index: 3;
            figure,.figure {
                box-shadow: lib.$shadow;
                filter: saturate(110%);
            }           
            transform: scale(1.02);
        }

        @media (max-width: lib.$breakpoint) {
          & {
            flex-direction: column;
            margin-bottom: var(--gutter-xl);
          }
          header {
            width: 100%;
            margin-bottom: var(--gutter);
          }
          figure,.figure {
            width: 100%;
            img {
              aspect-ratio: 2.39;
            }
          }
        }

    }
    &:has(article:hover) {
        article:not(:hover) header {
            h3 {
                a {
                  color: var(--muted-foreground);
                }
            }
        }
        
    }
}
