
@import './_variables.less';
@import './_type.less';

body {
    background: @bodyBackground;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 20px;
}
#chart {
    height: 320px;
}