@import "_variables.less";
@import "_type.less";
@import "_mixins.less";



body > header,
body > footer,
.hidden-print {
	display: none;
}

.two-col {
	flex-direction: column;
	div {
		flex-basis: 100%;
	}
}

// h1,h2,h3,h4,h5 {
// 	margin: inherit;
// }

