---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
baseURL: https://www.brianmcconnell.me
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all | reverse %}
        <url>
            <loc>{{ baseURL }}{{ page.url | url }}</loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url>
    {% endfor %}
</urlset>